@model IEnumerable<FitAppka.Model.WeightMeasurement>
<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/Measurements.css" rel="stylesheet" />
    <script src="~/js/Validation.js"></script>
    <script src="~/js/Measurement.js"></script>
    <script>
        function colorEverySecondRow() {
            var rows = document.getElementsByClassName("rowM");
            for (var i = 0; i < rows.length; i++) {
                if (i % 2 == 1) {
                    rows[i].style.backgroundColor = "rgb(238 238 238)";
                }
            }
        }
    </script>
</head>
<body onload="colorEverySecondRow()">
    <div class="modal fade" tabindex="-1" id="addOrEditModal" data-keyboard="false" style="margin-top: 100px; padding-left: 15px">
            <div class="modal-dialog" style="display: flex; justify-content: center;">
                <div class="modal-content">
                    <div class="modal-header" style="height: 20px">
                        <button type="button" class="close" data-dismiss="modal" style="margin-top: -30px">×</button>
                    </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row no-gutters cent" style="margin-top: 15px;">
                            <div style="margin-left: -127px">Waga:</div><div class="star">*</div>
                        </div>
                        <div class="row no-gutters cent" style="margin-top: 3px;">
                            <input id="weight" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
                        </div>
                        <div class="row no-gutters cent" style="margin-top: 15px;">
                            <div style="margin-left: -90px">Obwód talii:</div>
                        </div>
                        <div class="row no-gutters cent" style="margin-top: 3px;">
                            <input id="waist" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
                        </div>
                        <div class="row no-gutters cent" style="margin-top: 33px; margin-bottom: 5px">
                            <button hidden id="btnAddMeasurement" type="button" onclick="addMeasurement('@Url.Action("Measurements","Measurements")')" class="btn btn-dark">Dodaj pomiar ciała</button>
                            <button hidden id="btnEditMeasurement" type="button" onclick="editMeasurement('@Url.Action("Measurements","Measurements")')" class="btn btn-dark">Zapisz pomiar ciała</button>
                        </div>
                        <input type="hidden" id="editMeasurementId" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="false" style="margin-top: 100px; padding-left: 15px">
        <div class="modal-dialog" style="display: flex; justify-content: center;">
            <div class="modal-content">
                <div class="modal-header" style="height: 20px">
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -30px">×</button>
                </div>

                <div class="modal-body">
                    <div style="margin-top: -10px;">
                        <label>Czy na pewno chcesz usunąć ten pomiar?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="display:flex; justify-content: center">
                        <button type="button" data-dismiss="modal" class="cancelBtn">Anuluj</button>
                        <button type="button" id="delete" class="deleteBtn" onclick="deleteMeasurement('@Url.Action("Measurements","Measurements")')">Tak, usuń</button>
                    </div>
                </div>
                <input type="hidden" id="deleteMeasurementId">
            </div>
        </div>
    </div>


    <div class="container" style="padding-top: 30px">
        <div style="display: flex">
            <button class="btn acent" id="btnShowModalAddMeasurement" onclick="showModalAddMeasurement()">Dodaj pomiar ciała</button>
        </div>
        <div class="row no-gutters" id="headRow">
            <div class="col-2 cent">Waga</div>
            <div class="col-2 cent">Obwód talii</div>
            <div class="col-2 cent">Proc. tłuszczu</div>
            <div class="col-4 cent">Data pomiaru</div>
            <div class="col-1 cent"></div>
            <div class="col-1 cent"></div>
        </div>
        @foreach (var item in Model)
        {
            string waistCircumference = "-"; string bodyFatLevel = "-";
            if (item.FatMeasurementNavigation != null) {
                waistCircumference = item.FatMeasurementNavigation.WaistCircumference.ToString();
                bodyFatLevel = item.FatMeasurementNavigation.BodyFatLevel.ToString();
            }
            
            <div class="row no-gutters rowM">
                <div class="col-2 cent">@item.Weight</div>
                <div class="col-2 cent">@waistCircumference</div>
                <div class="col-2 cent">@bodyFatLevel</div>
                <div class="col-4 cent">@item.DateOfMeasurement.Value.ToString("dd.MM.yyyy")</div>
                <div class="col-1 cent"><img class="btnImg" src="~/img/pen.png" onclick="showEditMeasurementModal(@item.WeightMeasurementId, @item.Weight, @waistCircumference)"></div>
                <div class="col-1 cent"><img class="btnImg" src="https://cdn.onlinewebfonts.com/svg/img_416864.png" onclick="showDeleteModal(@item.WeightMeasurementId)"></div>
            </div>
        }
    </div>
    <script src="~/js/ShowNavbar.js"></script>
</body>
</html>