@model FitnessApp.Models.SettingsDTO;
<html lang="en">
    <head>
        <link href="~/css/SettingsStyle.css" rel="stylesheet" />
        <link href="~/css/AllViews.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
        <link href="~/css/Datepicker.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/AllViews.js"></script>
        <script src="~/js/Settings.js"></script>
        <script src="~/js/Validation.js"></script>
        <link href="~/css/Tooltip.css" rel="stylesheet" />
        <script type="text/javascript">
            function onload() {
                if ('@ViewData["isFirstLaunch"]' == 0) {
                    setSex('@ViewData["sex"]');
                    setWeightAndGrowth('@ViewData["weight"]', '@ViewData["growth"]');
                    setWeightChangeGoal('@ViewData["changeGoal"]');
                    setActivityLevel('@ViewData["activity"]');
                    setMeals('@ViewData["breakfast"]','@ViewData["lunch"]','@ViewData["dinner"]','@ViewData["dessert"]','@ViewData["snack"]','@ViewData["supper"]');
                    setPace('@ViewData["pace"]');
                    blockWeightInput();
                    setNavbar();
                }
                setDatepickerValue('@ViewData["dateOfBirth"]');
                blockPace();
            }
        </script>
    </head>


    <body onload="onload()">
        <header id="headerFirstRun">
            <nav class="navbar navbar-dark navbar-expand-md border-bottom mb-3 blackNav">
                <div>
                    <div class="mr-auto mt-3">
                        <a class="ml-2 ml-sm-3 ml-md-4 ml-lg-5" asp-controller="Home" asp-action="Start"><img style="height: 50px; width:185px; margin-top: -10px" src="~/img/logorozowe.png" /></a>
                    </div>
                </div>
                <div>
                    <div class="navbar-nav ml-auto" style="position: absolute; right: 0; margin-top: -20px">
                        <div class="mr-2 mr-xs-3 mr-sm-4 mr-md-5">
                            <a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Wyloguj się <img style="height: 15px; width:15px" src="~/img/logout.png" /></a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="row cent">
            <div class="col-9 col-sm-8 col-lg-7 col-xl-6 cent" style="background-color: white; margin-top: -5px; height: unset">
                <form id="form" method="post" onsubmit="return checkForm()" style="font-size: 18px">
                    <label style="font-weight: 600; margin-top: 15px; padding-bottom: 10px">Podstawowe dane</label>
                    <div class="form-group">
                        <div>
                            <label asp-for="Sex" class="label"></label>
                        </div>
                        <label><input type="radio" id="women" name="sex" checked value=false style="margin-right: 10px" />Kobieta</label>
                        <label><input type="radio" id="men" name="sex" value=true style="margin-left: 15px; margin-right: 10px" />Mężczyzna</label>
                    </div>
                    <div style="padding-bottom: 5px">
                        <div style="margin-bottom: 15px">
                            <label asp-for="DateOfBirth" class="label"></label>
                            <input id="datepicker" class="datepicker" asp-for="DateOfBirth" type="text" style="margin-top: -10px; width: calc(100% - 25px); margin-left: -1px; padding-left: 11px" readonly />
                            <span asp-validation-for="DateOfBirth" class="text-danger" style="font-size: 16px"></span>
                        </div>
                        <div>
                            <label id="invalidDate" class="text-danger" hidden style="margin-top: -15px; margin-bottom: 15px; display: block">Podaj datę urodzenia</label>
                        </div>
                    </div>
                    <div style="padding-bottom: 25px; border-bottom: 1px solid darkgray">
                        <div class="cent">
                            <div style="width: calc(50% - 10px);">
                                <label asp-for="Weight" class="label"></label>
                                <div class="tooltip2">
                                    <input id="weight" asp-for="Weight" class="form-control" type="number" min="10" max="600" onkeypress="return onlyInt(event)" onchange="this.value = changeToInteger(this.value)" />
                                    <span id="weightTip" class="tooltiptext" hidden>By zmienić wagę przejdź do widoku "Pomiary"</span>
                                </div>
                                <span asp-validation-for="Weight" class="text-danger" style="font-size: 16px"></span>
                            </div>
                            <label class="unit" style="margin-right: 15px">kg</label>
                            <div style="width: calc(50% - 10px)">
                                <label asp-for="Growth" class="label"></label>
                                <input id="growth" asp-for="Growth" class="form-control" min="50" max="300" onkeypress="return onlyInt(event)" onchange="this.value = changeToInteger(this.value)">
                                <span asp-validation-for="Growth" class="text-danger" style="font-size: 16px"></span>
                            </div>
                            <label class="unit">cm</label>
                        </div>
                        <div>
                            <label id="invalidWeight" class="text-danger" hidden style="width: 50%">Podaj wagę [kg]</label>
                            <label id="invalidGrowth" class="text-danger" hidden style="position: absolute; left: calc(50% + 5px)">Podaj wzrost [cm]</label>
                        </div>
                    </div>
                    <label asp-for="WeightChangeGoal" style="font-weight: 600; padding-top: 15px"></label>
                    <div><label><input id="loseWeight" type="radio" name="WeightChangeGoal" value="1" checked onclick="blockPace()" style="margin-right: 10px" />Chcę schudnąć</label></div>
                    <div><label><input id="maintenance" type="radio" name="WeightChangeGoal" value="2" onclick="blockPace()" style="margin-right: 10px" />Chcę utrzymać wagę</label></div>
                    <div style="border-bottom: 1px solid darkgray; padding-bottom: 15px;"><label><input id="gainWeight" type="radio" name="WeightChangeGoal" value="3" onclick="blockPace()" style="margin-right: 10px" />Chcę przytyć</label></div>

                    <label style="font-weight: 600; padding-top: 15px">Aktywność w ciągu doby</label>
                    <div style="padding-top: 5px"><label><input type="radio" name="ActivityLevel" value=1 style="margin-right: 10px" />Brak aktywności, praca siedząca</label></div>
                    <div><label><input type="radio" name="ActivityLevel" value=2 style="margin-right: 10px" />Niska (praca siedząca, 1-2 treningi/tydz.)</label></div>
                    <div><label><input type="radio" name="ActivityLevel" value=3 checked style="margin-right: 10px" />Średnia (praca siedząca, 3-4 treningi/tydz.)</label></div>
                    <div><label><input type="radio" name="ActivityLevel" value=4 style="margin-right: 10px" />Wysoka (praca fizyczna, 3-4 treningi/tydz.)</label></div>
                    <div style="padding-bottom: 1rem; border-bottom: 1px solid darkgray;"><label><input type="radio" name="ActivityLevel" value=5 style="margin-right: 10px" />B. wysoka (zawodowi sportowcy, osoby codziennie trenujące)</label></div>

                    <label style="font-weight: 600; padding-top: 15px">Posiłki dnia</label>
                    <div>
                        <div><label><input id="breakfast" type="checkbox" checked name="Breakfast" value="true" style="margin-right: 10px" />Śniadanie</label></div>
                        <div><label><input id="lunch" type="checkbox" checked name="Lunch" value="true" style="margin-right: 10px" />II śniadanie</label></div>
                        <div><label><input id="dinner" type="checkbox" checked name="Dinner" value="true" style="margin-right: 10px" />Obiad</label></div>
                    </div>
                    <div style="border-bottom: 1px solid darkgray">
                        <div><label><input id="dessert" type="checkbox" checked name="Dessert" value="true" style="margin-right: 10px" />Deser</label></div>
                        <div><label><input id="snack" type="checkbox" checked name="Snack" value="true" style="margin-right: 10px" />Przekąska</label></div>
                        <div style="padding-bottom: 15px"><label><input id="supper" type="checkbox" checked name="Supper" value="true" style="margin-right: 10px" />Kolacja</label></div>
                    </div>

                    <label asp-for="PaceOfChanges" class="centering" style="padding-top: 15px"></label>
                    <div class="form-group centering">
                        <div class="tooltip2">
                            <button type="button" class="button" onclick="decrementPace()" id="decBtn"><img class="img-fluid" src="~/img/minus.png"></button>
                            <span id="decTip" class="tooltiptext" hidden>Zmiany zablokowane gdyż celem jest utrzymanie wagi</span>
                        </div>
                        <input id="pace" asp-for="PaceOfChanges" type="number" step="0.1" value="0.4" /><span style="margin-left: -33px; float:right; margin-top: 4px; font-size:16px; z-index: 99">kg</span>
                        <div class="tooltip2">
                            <button type="button" class="button" onclick="incrementPace()" id="incBtn"><img class="img-fluid" src="~/img/add.png"></button>
                            <span id="incTip" class="tooltiptext" hidden>Zmiany zablokowane gdyż celem jest utrzymanie wagi</span>
                        </div>
                    </div>
                    <input id="saveBtn" type="submit" value="Zapisz i kontynuuj" asp-route-isFirstLaunch="@ViewData["isFirstLaunch"]" class="btn btn-primary" />
                    <div style="width: 100%; height: 1px"></div>
                </form>
            </div>
        </div>

        <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script>birthDateDatepicker();</script>
    </body>
</html>