@model IEnumerable<FitAppka.Models.Product>

<html lang="en">
<head>
    <link href="~/css/SearchProduct.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/AdminProduct.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
    
</head>
<body onload="kolorujCoDrugiWiersz()">
    <div class="container">
        <div class="row no-gutters">
            <a asp-action="AdminHome" style="width: inherit;">
                <img id="btnBackImg" src="~/img/back.png" />
            </a>
        </div>
        <div class="row no-gutters">
            <a class="btn btn-outline-dark" asp-action="Create" asp-controller="Product" asp-route-isAdmin="1">
                Dodaj nowy produkt
            </a>
        </div>

        <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="false" style="margin-top: 100px; padding-left: 15px">
            <div class="modal-dialog" style="display: flex; justify-content: center;">
                <div class="modal-content">
                    <div class="modal-header" style="height: 20px">
                        <button type="button" class="close" onclick="hideModal()" style="margin-top: -30px">×</button>
                    </div>

                    <div class="modal-body">
                        <div style="margin-top: -10px;">
                            <div><h6>Czy na pewno chcesz usunąć ten produkt?</h6> Spowoduje to usunięcie wszystkich przypisanych do niego posiłków.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form method="post">
                            <div style="display:flex; justify-content: center">
                                <button type="button" onclick="hideModal()" style="margin-right: 15px; border-radius:10%; background-color: #4d62d7; height: 32px; width: 100px; color: white">Anuluj</button>
                                <button type="button" id="usun" style="border-radius:10%; background-color: #ce1a22; height: 32px; width: 100px; color: white">Tak, usuń</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        @if (Model.Count() != 0)
        {
            <div id="wierszNaglowkow" class="row no-gutters mb-3">
                <div class="col-4" style="text-align:left">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                Zdjęcie<br />
                                produktu
                            </div>
                            <div id="naproHeader" class="col-12 col-md-7 col-lg-6" style="margin-top:5px;">
                                @using (Html.BeginForm("AdminProduct", "Admin", FormMethod.Get))
                                {
                                   @Html.TextBox("search", "", new { placeholder = "Nazwa produktu", @class = "form-control valid" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div>Kcal<br/>/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Białko<br/>/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Tł.<br/>/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Węgl.<br/>/100g</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: -16px">
                @foreach (var item in Model)
                {
                    <div id="wierszeTabeli" class="row no-gutters wieeersz">
                        <div class="col-4" style="display: flex; align-items: center">
                            <div class="container" style="padding-left: 0px">
                                <div class="row no-gutters">
                                    <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                        @{
                                            string photoPath;
                                            if (item.PhotoPath != null)
                                            {
                                                photoPath = "~/photos/" + (item.PhotoPath);
                                            }
                                            else
                                            {
                                                photoPath = "~/img/miss.png";
                                            }
                                        }
                                        <img src="@photoPath" class="img-fluid photo" asp-append-version="true" />
                                    </div>
                                    <div class="col-12 col-md-7 col-lg-6" id="nazwaProduktu">
                                        @Html.DisplayFor(i => item.ProductName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-7 marauto">
                            <div class="container">
                                <div class="row no-gutters">
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Calories)kcal
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Proteins)g
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Fats)g
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Carbohydrates)g
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panelPrzyciskow" class="col-1">
                            <div>
                                <a class="button" style="padding-right: 15px" asp-action="AdminEditProduct" asp-route-id="@item.ProductId"><img class="editBtnImg" src="~/img/pen.png"></a>
                                <button class="button" onclick="showDeleteModal(@item.ProductId);"><img class="addBtnImg" src="https://cdn.onlinewebfonts.com/svg/img_416864.png" /></button>
                            </div>
                            <div style="clear:both"></div>
                        </div>

                    </div>
                }
            </div>
        }
        else
        {
            <div style="display: flex; justify-content: center; margin-top: 75px">
                Nie znaleziono produktów
            </div>
        }
    </div>

    <script>
        function showDeleteModal(id, url) {
            $("#deleteModal").modal('show');
            $("#usun").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete","Admin")',
                    data: { productID: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>

</body>
</html>