@model FitAppka.Models.ClientAdministrationDTO;
<html>
<head>
    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Datepicker.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/SettingsStyle.css" rel="stylesheet" />
    <link href="~/css/Tooltip.css" rel="stylesheet" />
    <link href="~/css/AdminEditClient.css" rel="stylesheet" />
    <script src="~/js/Validation.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/AllViews.js"></script>
    <script src="~/js/Settings.js"></script>
    <script>
        function onload() {
            setPace('@(Model.SettingsDTO.PaceOfChanges == null ? "0.4" : Model.SettingsDTO.PaceOfChanges.ToString().Replace(',', '.'))');
            setDatepickerValue('@Model.SettingsDTO.DateOfBirth.GetValueOrDefault().ToString("yyyy-MM-dd")');
            blockWeightInput();
            blockPace();
        }
    </script>
</head>
<body onload="onload()">
    <div class="container">
        <div class="row cent">
            <div class="col-9 col-sm-8 col-lg-7 col-xl-6 cent" style="background-color: white; margin-top: -5px; height: unset">
                <form id="form" method="post" onsubmit="return checkForm()" style="font-size: 18px">
                    <label style="font-weight: 600; margin-top: 15px; padding-bottom: 10px">Podstawowe dane</label>
                    <div class="form-group" style="margin-right: 25px;">
                        <label asp-for="RegisterDTO.FirstName"></label>
                        <input asp-for="RegisterDTO.FirstName" class="form-control" />
                        <span asp-validation-for="RegisterDTO.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 25px;">
                        <label asp-for="RegisterDTO.SecondName"></label>
                        <input asp-for="RegisterDTO.SecondName" class="form-control" />
                        <span asp-validation-for="RegisterDTO.SecondName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 25px;">
                        <label asp-for="RegisterDTO.Email"></label>
                        <input asp-for="RegisterDTO.Email" class="form-control" />
                        <span asp-validation-for="RegisterDTO.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 25px;">
                        <label asp-for="RegisterDTO.Login"></label>
                        <input asp-for="RegisterDTO.Login" class="form-control" />
                        <span asp-validation-for="RegisterDTO.Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div>
                            <label asp-for="SettingsDTO.Sex" class="label"></label>
                        </div>
                        <label><input type="radio" id="women" name="sex" checked="@(Model.SettingsDTO.Sex == false)" value=false style="margin-right: 10px" />Kobieta</label>
                        <label><input type="radio" id="men" name="sex" checked="@Model.SettingsDTO.Sex" value=true style="margin-left: 15px; margin-right: 10px" />Mężczyzna</label>
                    </div>
                    <div style="padding-bottom: 5px">
                        <div style="margin-bottom: 15px">
                            <label asp-for="SettingsDTO.DateOfBirth" class="label"></label>
                            <input id="datepicker" class="datepicker" asp-for="SettingsDTO.DateOfBirth" type="text" style="margin-top: -10px; width: calc(100% - 25px); margin-left: -1px; padding-left: 11px" readonly />
                            <span asp-validation-for="SettingsDTO.DateOfBirth" class="text-danger" style="font-size: 16px"></span>
                        </div>
                        <div>
                            <label id="invalidDate" class="text-danger" hidden style="margin-top: -15px; margin-bottom: 15px; display: block">Podaj datę urodzenia</label>
                        </div>
                    </div>
                    <div style="padding-bottom: 25px; border-bottom: 1px solid darkgray">
                        <div class="cent">
                            <div style="width: calc(50% - 10px);">
                                <label asp-for="SettingsDTO.Weight" class="label"></label>
                                <input id="weight" asp-for="SettingsDTO.Weight" class="form-control" type="number" min="10" max="600" onkeypress="return onlyInt(event)" onchange="this.value = changeToInteger(this.value)" />
                                <span asp-validation-for="SettingsDTO.Weight" class="text-danger" style="font-size: 16px"></span>
                            </div>
                            <label class="unit" style="margin-right: 15px">kg</label>
                            <div style="width: calc(50% - 10px)">
                                <label asp-for="SettingsDTO.Growth" class="label"></label>
                                <input id="growth" asp-for="SettingsDTO.Growth" class="form-control" min="50" max="300" onkeypress="return onlyInt(event)" onchange="this.value = changeToInteger(this.value)">
                                <span asp-validation-for="SettingsDTO.Growth" class="text-danger" style="font-size: 16px"></span>
                            </div>
                            <label class="unit">cm</label>
                        </div>
                        <div>
                            <label id="invalidWeight" class="text-danger" hidden style="width: 50%">Podaj wagę [kg]</label>
                            <label id="invalidGrowth" class="text-danger" hidden style="position: absolute; left: calc(50% + 5px)">Podaj wzrost [cm]</label>
                        </div>
                    </div>
                    <label asp-for="SettingsDTO.WeightChangeGoal" style="font-weight: 600; padding-top: 15px"></label>
                    <div><label><input id="loseWeight" type="radio" name="WeightChangeGoal" value="1" checked='@(Model.SettingsDTO.WeightChangeGoal == 1)' onclick="blockPace()" style="margin-right: 10px" />Chcę schudnąć</label></div>
                    <div><label><input id="maintenance" type="radio" name="WeightChangeGoal" value="2" checked='@(Model.SettingsDTO.WeightChangeGoal == 2)' onclick="blockPace()" style="margin-right: 10px" />Chcę utrzymać wagę</label></div>
                    <div style="border-bottom: 1px solid darkgray; padding-bottom: 15px;"><label><input id="gainWeight" type="radio" name="WeightChangeGoal" checked='@(Model.SettingsDTO.WeightChangeGoal == 3)' value="3" onclick="blockPace()" style="margin-right: 10px" />Chcę przytyć</label></div>

                    <label style="font-weight: 600; padding-top: 15px">Aktywność w ciągu doby</label>
                    <div style="padding-top: 5px"><label><input type="radio" name="ActivityLevel" checked="@(Model.SettingsDTO.ActivityLevel == 1)" value=1 style="margin-right: 10px" />Brak aktywności, praca siedząca</label></div>
                    <div><label><input type="radio" name="ActivityLevel" checked="@(Model.SettingsDTO.ActivityLevel == 2)" value=2 style="margin-right: 10px" />Niska (praca siedząca, 1-2 treningi/tydz.)</label></div>
                    <div><label><input type="radio" name="ActivityLevel" checked="@(Model.SettingsDTO.ActivityLevel == 3)" value=3 style="margin-right: 10px" />Średnia (praca siedząca, 3-4 treningi/tydz.)</label></div>
                    <div><label><input type="radio" name="ActivityLevel" checked="@(Model.SettingsDTO.ActivityLevel == 4)" value=4 style="margin-right: 10px" />Wysoka (praca fizyczna, 3-4 treningi/tydz.)</label></div>
                    <div style="padding-bottom: 1rem; border-bottom: 1px solid darkgray;"><label><input type="radio" name="ActivityLevel" checked="@(Model.SettingsDTO.ActivityLevel == 5)" value=5 style="margin-right: 10px" />B. wysoka (zawodowi sportowcy, osoby codziennie trenujące)</label></div>

                    <label style="font-weight: 600; padding-top: 15px">Posiłki dnia</label>
                    <div>
                        <div><label><input id="breakfast" type="checkbox" name="Breakfast" checked="@Model.SettingsDTO.Breakfast" value="true" style="margin-right: 10px" />Śniadanie</label></div>
                        <div><label><input id="lunch" type="checkbox" name="Lunch" checked="@Model.SettingsDTO.Lunch" value="true" style="margin-right: 10px" />II śniadanie</label></div>
                        <div><label><input id="dinner" type="checkbox" name="Dinner" checked="@Model.SettingsDTO.Dinner" value="true" style="margin-right: 10px" />Obiad</label></div>
                    </div>
                    <div style="border-bottom: 1px solid darkgray">
                        <div><label><input id="dessert" type="checkbox" name="Dessert" checked="@Model.SettingsDTO.Dessert" value="true" style="margin-right: 10px" />Deser</label></div>
                        <div><label><input id="snack" type="checkbox" name="Snack" checked="@Model.SettingsDTO.Snack" value="true" style="margin-right: 10px" />Przekąska</label></div>
                        <div style="padding-bottom: 15px"><label><input id="supper" type="checkbox" name="Supper" checked="@Model.SettingsDTO.Supper" value="true" style="margin-right: 10px" />Kolacja</label></div>
                    </div>

                    <label asp-for="SettingsDTO.PaceOfChanges" class="centering" style="padding-top: 15px"></label>
                    <div class="form-group centering">
                        <div class="tooltip2">
                            <button type="button" class="button" onclick="decrementPace()" id="decBtn"><img class="img-fluid" src="~/img/minus.png"></button>
                            <span id="decTip" class="tooltiptext" hidden>Zmiany zablokowane gdyż celem jest utrzymanie wagi</span>
                        </div>
                        <input id="pace" asp-for="SettingsDTO.PaceOfChanges" type="number" step="0.1" value="0.4" /><span style="margin-left: -33px; float:right; margin-top: 4px; font-size:16px; z-index: 99">kg</span>
                        <div class="tooltip2">
                            <button type="button" class="button" onclick="incrementPace()" id="incBtn"><img class="img-fluid" src="~/img/add.png"></button>
                            <span id="incTip" class="tooltiptext" hidden>Zmiany zablokowane gdyż celem jest utrzymanie wagi</span>
                        </div>
                    </div>
                    @Html.Hidden("id", ViewData["id"])
                    <input id="saveBtn" type="submit" value="Zapisz i kontynuuj" class="btn btn-primary" />
                    <div style="width: 100%; height: 1px"></div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script>birthDateDatepicker();</script>
</body>
</html>