@using X.PagedList.Mvc.Core
@model FitnessApp.Models.DTO.AdminProductDTO

<html lang="en">
<head>
    <link href="~/css/SearchProduct.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/AdminProduct.css" rel="stylesheet" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
</head>
<body onload="colorEverySecondRow()">
    <input type="hidden" id="productId" />
    <div class="container">
        <div class="row no-gutters">
            <a asp-action="AdminHome" style="width: inherit;">
                <img id="btnBackImg" src="~/img/back.png" />
            </a>
        </div>
        <div class="row no-gutters">
            <a class="btn btn-outline-dark" asp-action="Create" asp-controller="Product" asp-route-isAdmin="1">
                Dodaj nowy produkt
            </a>
        </div>

        <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="false" style="margin-top: 100px; padding-left: 15px">
            <div class="modal-dialog" style="display: flex; justify-content: center;">
                <div class="modal-content">
                    <div class="modal-header" style="height: 20px">
                        <button type="button" class="close" data-dismiss="modal" style="margin-top: -30px">×</button>
                    </div>

                    <div class="modal-body">
                        <div style="margin-top: -10px;">
                            <div><h6>Czy na pewno chcesz usunąć ten produkt?</h6></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form method="post">
                            <div class="cent">
                                <button type="button" data-dismiss="modal" class="cancelBtn">Anuluj</button>
                                <button type="button" id="usun" class="deleteBtn">Tak, usuń</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        @if (Model.Products.Count() != 0)
        {
            <div id="headersRow" class="row no-gutters mb-3">
                <div class="col-4" style="text-align:left">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                Zdjęcie<br />
                                produktu
                            </div>
                            <div id="productNameHeader" class="col-12 col-md-7 col-lg-6" style="margin-top:5px;">
                                <form method="get">
                                    @Html.TextBox("search", "", new { placeholder = "Nazwa", @class = "form-control" })
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div>Kcal<br />/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Białko<br />/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Tł.<br />/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Węgl.<br />/100g</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: -16px">
                @foreach (var item in Model.Products)
                {
                    <div class="tableRow row no-gutters">
                        <div class="col-4" style="display: flex; align-items: center">
                            <div class="container" style="padding-left: 0px">
                                <div class="row no-gutters">
                                    <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                        @{
                                            string photoPath;
                                            if (item.PhotoPath != null)
                                            {
                                                photoPath = "~/photos/" + (item.PhotoPath);
                                            }
                                            else
                                            {
                                                photoPath = "~/img/miss.png";
                                            }
                                        }
                                        <img src="@photoPath" class="photo" asp-append-version="true" />
                                    </div>
                                    <div class="col-12 col-md-7 col-lg-6" id="nazwaProduktu">
                                        @Html.DisplayFor(i => item.ProductName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-7 marauto">
                            <div class="container">
                                <div class="row no-gutters">
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Calories)kcal
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Proteins)g
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Fats)g
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Carbohydrates)g
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cent acent col-1">
                            <a class="button" style="padding-right: 15px" asp-action="AdminEditProduct" asp-route-id="@item.ProductId"><img class="editBtnImg" src="~/img/pen.png"></a>
                            <button class="button" onclick="showDeleteModal(@item.ProductId);"><img class="addBtnImg" src="https://cdn.onlinewebfonts.com/svg/img_416864.png" /></button>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div id="productNotFound">
                Nie znaleziono produktów
            </div>
        }
    <div>
        @Html.PagedListPager(Model.Products, page => Url.Action("AdminProduct", new { Model.Search, page }))
    </div>
    </div>

    <script>
        function showDeleteModal(id) {
            $("#productId").val(id);
            $("#deleteModal").modal('show');
            $("#usun").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteProduct","Admin")',
                    data: { productID: $("#productId").val() },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>
    <link href="~/css/AdminProduct.css" rel="stylesheet" />
    <script src="~/js/Pagination.js"></script>
</body>
</html>