@model FitAppka.Models.CreateProductModel
<html lang="en">
<head>
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/CreateProduct.css" rel="stylesheet" />
    <link href="~/css/AdminEditProduct.css" rel="stylesheet" />
    <script src="~/js/CreateProduct.js"></script>
    <script src="~/js/Validation.js"></script>
</head>

<body style="background: linear-gradient(0deg, rgb(29 88 175) 0%, rgb(227 177 115) 100%)">

    <div class="container">
        <div class="row cent" style="height: 100%; margin-top: -5px">
            <div class="col-9 col-sm-8 col-lg-7 col-xl-6" style="height: 100%; padding-top: 30px; background: white">
                <form enctype="multipart/form-data" method="post">
                    <div style="color: palevioletred; text-align: centerl; font-weight: 200; margin-bottom: 20px">
                        Edycja produktu nie zmienia informacji o posiłkach przypisanych do klientów.
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="border-bottom: 1px solid #cacaca; padding-bottom: 20px">
                        <label class="control-label">Nazwa produktu</label>
                        <input asp-for="NazwaProduktu" class="form-control" value="@ViewData["nazwa"]"/>
                        <span asp-validation-for="NazwaProduktu" class="text-danger" placeholder="Nazwa produktu"></span>
                    </div>
                    <div class="naglowek">
                        Wartość odżywcza w 100g:
                    </div>
                    <div class="form-group cent">
                        <div class="lewaKol">
                            <label class="control-label">Kalorie</label>
                            <div style="display: flex;">
                                <input asp-for="Kalorie" class="form-control" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["kalorie"]"/>
                                <div class="jednostka" style="margin-right: -5px;">kcal</div>
                            </div>
                            <span asp-validation-for="Kalorie" class="text-danger"></span>
                        </div>
                        <div class="prawaKol">
                            <label class="control-label">Białko</label>
                            <div style="display: flex;">
                                <input asp-for="Bialko" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 3), 100)" value="@ViewData["bialko"]"/>
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="Bialko" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group cent">
                        <div class="lewaKol">
                            <label class="control-label">Tłuszcze</label>
                            <div id="tluInDiv" style="display: flex">
                                <input asp-for="Tluszcze" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 3), 100)" value="@ViewData["tluszcze"]"/>
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="Tluszcze" class="text-danger"></span>
                        </div>
                        <div class="prawaKol">
                            <label class="control-label">Węglowodany</label>
                            <div style="display: flex">
                                <input asp-for="Weglowodany" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 3), 100)" value="@ViewData["wegle"]"/>
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="Weglowodany" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="moreInfoBtn" class="mb-4" onclick="moreInfo();">
                        <img id="imgDown" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/200px-Arrow-down.svg.png" />
                        <div>Więcej informacji o produkcie</div>
                    </div>
                    <div id="moreInfoDiv" hidden>
                        <div class="naglowek">Witaminy w 100g:</div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Witamina A</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaA" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witA"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="WitaminaA" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Witamina B1</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaB1" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witB1"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaB1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Witamina B2</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaB2" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witB2"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaB2" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Witamina B5</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaB5" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witB5"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaB5" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Witamina B6</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaB6" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witB6"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaB6" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Biotyna</label>
                                <div style="display: flex">
                                    <input asp-for="Biotyna" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["biotyna"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="Biotyna" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Kwas foliowy</label>
                                <div style="display: flex">
                                    <input asp-for="KwasFoliowy" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["kwasFoliowy"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="KwasFoliowy" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Witamina B12</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaB12" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witB12"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="WitaminaB12" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Witamina C</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaC" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witC"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaC" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Witamina D</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaD" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witD"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="WitaminaD" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Witamina E</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaE" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witE"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaE" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Witamina PP</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaPp" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witPP"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="WitaminaPp" class="text-danger"></span>
                            </div>
                        </div>
                        <div style="margin-bottom: 2rem">
                            <div class="lewaKol" style="margin-right: 0 !important">
                                <label class="control-label">Witamina K</label>
                                <div style="display: flex">
                                    <input asp-for="WitaminaK" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["witK"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="WitaminaK" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="naglowek" style="padding-top: 15px; border-top: 1px solid #cacaca">Składniki mineralne w 100g:</div>

                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Cynk</label>
                                <div style="display: flex">
                                    <input asp-for="Cynk" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["cynk"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Cynk" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Fosfor</label>
                                <div style="display: flex">
                                    <input asp-for="Fosfor" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["fosfor"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Fosfor" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Jod</label>
                                <div style="display: flex">
                                    <input asp-for="Jod" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["jod"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="Jod" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Magnez</label>
                                <div style="display: flex">
                                    <input asp-for="Magnez" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["magnez"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Magnez" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Miedź</label>
                                <div style="display: flex">
                                    <input asp-for="Miedz" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["miedz"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Miedz" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Potas</label>
                                <div style="display: flex">
                                    <input asp-for="Potas" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["potas"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Potas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Selen</label>
                                <div style="display: flex">
                                    <input asp-for="Selen" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["selen"]">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="Selen" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Sód</label>
                                <div style="display: flex">
                                    <input asp-for="Sod" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["sod"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Sod" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="lewaKol">
                                <label class="control-label">Wapń</label>
                                <div style="display: flex">
                                    <input asp-for="Wapn" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["wapn"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Wapn" class="text-danger"></span>
                            </div>
                            <div class="prawaKol">
                                <label class="control-label">Żelazo</label>
                                <div style="display: flex">
                                    <input asp-for="Zelazo" class="form-control" type="text" onkeypress="return onlyNumbers(event)" onchange="this.value = changeToMaxIfGreater(changeToNumeric(this.value, 5), 10000)" value="@ViewData["zelazo"]">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Zelazo" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div id="edytujZdjecie" class="form-group" hidden>
                        <div class="naglowek" style="margin-bottom: 10px">Zdjęcie produktu</div>
                        <div style="margin-bottom: 15px; padding-top: 15px; border-top: 1px solid #cacaca">
                            @{ 
                                string photoPath = "~/photos/" + ViewData["sciezka"];
                                <img style="height: 100px; width: 100px; border: 1px dashed #6b6b6b; margin-bottom: 10px" src="@photoPath" class="img-fluid" asp-append-version="true" />
                            }
                        </div>
                        <label class="control-label">Edytuj zdjęcie produktu</label>
                        <div class="custom-file" id="photoLoad">
                            <input asp-for="Zdjecie" type='file' class="form-control custom-file-input" formenctype="multipart/form-data" />
                            <label class="custom-file-label" style="overflow: hidden">Wybierz plik...</label>
                        </div>
                    </div>
                    <div id="dodajZdjecie" class="form-group" hidden>
                        <label class="control-label">Dodaj zdjęcie produktu</label>
                        <div class="custom-file" id="photoLoad">
                            <input asp-for="Zdjecie" type='file' class="form-control custom-file-input" formenctype="multipart/form-data"/>
                            <label class="custom-file-label" style="overflow: hidden">Wybierz plik...</label>
                        </div>
                    </div>


                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var fileName = $(this).val().split("\\").pop();
                                    $(this).next('.custom-file-label').html(fileName);
                                });
                            });

                            if ('@ViewData["addOrEdit"]' == 0) {
                                document.getElementById("dodajZdjecie").hidden = false;
                            }
                            else {
                                document.getElementById("edytujZdjecie").hidden = false;
                            }
                        </script>
                    }

                    <div class="form-group cent mt-5">
                        <input type="submit" value="Zapisz produkt" class="btn btn-primary" style="width: 50%; height: 40px" asp-route-produktID="@ViewData["produktID"]" asp-route-addOrEditPhoto="@ViewData["addOrEdit"]"/>
                    </div>

                    <div class="form-group cent" style="margin-top: 35px; margin-bottom: 2rem">
                        <a asp-action="AdminProduct">
                            Powrót do przeglądania produktów
                        </a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>