@model IEnumerable<FitAppka.Models.Produkt>

<html lang="en">
<head>
    <link href="~/css/SearchProduct.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/AdminProduct.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
    
</head>
<body onload="kolorujCoDrugiWiersz()">
    <div class="container">
        <div class="row no-gutters">
            <a asp-action="AdminHome" style="width: inherit;">
                <img id="btnBackImg" src="~/img/back.png" />
            </a>
        </div>
        <div class="row no-gutters">
            <a class="btn btn-outline-dark" asp-action="Create" asp-controller="Search" asp-route-czyAdmin="1">
                Dodaj nowy produkt
            </a>
        </div>

        <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="false" style="margin-top: 100px; padding-left: 15px">
            <div class="modal-dialog" style="display: flex; justify-content: center;">
                <div class="modal-content">
                    <div class="modal-header" style="height: 20px">
                        <button type="button" class="close" onclick="hideModal()" style="margin-top: -30px">×</button>
                    </div>

                    <div class="modal-body">
                        <div style="margin-top: -10px;">
                            <label><h6>Czy na pewno chcesz usunąć ten produkt?</h6> Spowoduje to usunięcie wszystkich przypisanych do niego posiłków.</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form method="post">
                            <div style="display:flex; justify-content: center">
                                <button type="button" onclick="hideModal()" style="margin-right: 15px; border-radius:10%; background-color: #4d62d7; height: 32px; width: 100px; color: white">Anuluj</button>
                                <button type="button" id="usun" style="border-radius:10%; background-color: #ce1a22; height: 32px; width: 100px; color: white">Tak, usuń</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        @if (Model.Count() != 0)
        {
            <div id="wierszNaglowkow" class="row no-gutters mb-3">
                <div class="col-4" style="text-align:left">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                Zdjęcie<br />
                                produktu
                            </div>
                            <div id="naproHeader" class="col-12 col-md-7 col-lg-6">
                                Nazwa<br />
                                produktu
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div>
                                    Kcal<br />
                                    /100g
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    Białko<br />
                                    /100g
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    Tł.<br />
                                    /100g
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    Węgl.<br />
                                    /100g
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div>&#8203;</div>
                </div>
            </div>

            <div style="margin-top: -15px">
                @foreach (var item in Model)
                {
                    <div id="wierszeTabeli" class="row no-gutters wieeersz">
                        <div class="col-4" style="display: flex; align-items: center">
                            <div class="container" style="padding-left: 0px">
                                <div class="row no-gutters">
                                    <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                        @{
                                            string photoPath;
                                            if (item.ZdjecieSciezka != null)
                                            {
                                                photoPath = "~/photos/" + (item.ZdjecieSciezka);
                                                <script>
                                                    pathArray.push('@item.ZdjecieSciezka');
                                                </script>
                                            }
                                            else
                                            {
                                                photoPath = "~/img/miss.png";
                                                <script>
                                                    pathArray.push('null');
                                                </script>
                                            }

                                            <script>
                                                IDarray.push('@item.ProduktId');
                                                nameArray.push('@item.NazwaProduktu');
                                                kcalArray.push('@item.Kalorie');
                                                bialkoArray.push('@item.Bialko');
                                                tluszczeArray.push('@item.Tluszcze');
                                                wegleArray.push('@item.Weglowodany');
                                            </script>

                                        }
                                        <img src="@photoPath" class="img-fluid photo" asp-append-version="true" />
                                    </div>
                                    <div class="col-12 col-md-7 col-lg-6" id="nazwaProduktu">
                                        @Html.DisplayFor(i => item.NazwaProduktu)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-7 marauto">
                            <div class="container">
                                <div class="row no-gutters">
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Kalorie)kcal
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Bialko)g
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Tluszcze)g
                                    </div>
                                    <div class="col-3">
                                        @Html.DisplayFor(i => item.Weglowodany)g
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panelPrzyciskow" class="col-1">
                            <div>
                                <a class="button" style="padding-right: 15px" asp-action="AdminEditProduct" asp-route-id="@item.ProduktId"><img class="editBtnImg" src="~/img/pen.png"></a>
                                <button class="button" onclick="showDeleteModal(@item.ProduktId);"><img class="addBtnImg" src="https://i.dlpng.com/static/png/6566431_preview.png"/></button>
                            </div>
                            <div style="clear:both"></div>
                        </div>

                    </div>
                }
            </div>
        }
    </div>

    <script>
        function showDeleteModal(id, url) {
            $("#deleteModal").modal('show');
            $("#usun").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete","Admin")',
                    data: { productID: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>

</body>
</html>