@model IEnumerable<FitAppka.Models.Day>

<head>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/FindDay.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/chosen/chosen.min.css" rel="stylesheet" />
    <script src="~/js/chosen.jquery.min.js"></script>
    <script src="~/js/FindDay.js"></script>
    <script src="~/js/Validation.js"></script>
    <script type="text/javascript">
            function search(searchType) {
                searchDay(searchType, '@Html.Raw(@Url.Action("FindDay", "FindDay", new { from = "_from_", productID = "_id_", to = "_to_", searchType = "_type_" }))');
            }

            function home(dayID, clientID) {
                var url = '@Html.Raw(@Url.Action("Return", "Home", new { dayID = "_dayID_", clientID = "_clientID_" }))';
                window.location.href = url.replace('_dayID_', dayID).replace('_clientID_', clientID);
            }

            function restoreState() {
                restore(@ViewData["searchType"]);
            }
    </script>
</head>

<body onload="onload()">

    <header>
        <nav class="navbar navbar-expand-md cent border-bottom" id="navMain">
            <div style="margin-top: -15px">
                <div style="font-size:12px; margin-right: 10px; margin-bottom: 2px;">Szukaj dni gdzie:</div>
                <div>
                    <select id="choice" onchange="choice()">
                        <option value="1">Spożyto dany posiłek</option>
                        <option value="2">Spożycie kalorii wyniosło</option>
                        <option value="3">Spożycie płynów wyniosło</option>
                    </select>
                </div>
            </div>
        </nav>
    </header>



    <div class="container" style="margin-top: 100px">
        <!-------------------------------------------------------------------------------------------------->
        <div id="product" class="row no-gutters">
            <div class="container">
                <div class="row no-gutters">
                    <nav id="navProduct" class="navbar navbar-expand-md border-bottom cent navsearch">
                        <div id="panelek">
                            <div id="chosenPanel">
                                <div style="font-size: 12px">Wybierz produkt:</div>
                                @Html.DropDownList("Product", (List<SelectListItem>)ViewData["allProducts"], new { id = "normalDropDown" })
                            </div>
                            <div id="panelGramatury">
                                <div style="font-size: 12px">Przedział wagi produktu (*opcjonalne):</div>
                                <div class="oddodiv">*Od: </div>
                                <input id="from_product" class="oddo" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["from"]" />
                                <div class="g1">g</div>
                                <div class="oddodiv">*Do: </div>
                                <input id="to_product" class="oddo" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["to"]" />
                                <div class="g2">g</div>
                                <div class="cb"></div>
                            </div>
                            <div class="cent cb" style="padding-top: 20px"><button class="searchBtn" type="button" onclick="search(1)">Szukaj <img style="height: 15px; width:15px" src="~/img/search.png" /></button></div>
                        </div>
                    </nav>
                </div>

                @if ((bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 1)
                {
                    <div id="ctxProd" class="row no-gutters">
                        <div class="container">
                            <div class="row no-gutters dayHeader">
                                <div class="col-4 cent" style="margin-left: -17px; margin-right: 17px">
                                    Dzień
                                </div>
                                <div class="col-4 cent iloscPro">
                                    Ilość produktu
                                </div>
                                <div class="col-4 cent">
                                    Przejdź do dnia
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row no-gutters" style="font-weight: 600">
                    @if ((bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 1)
                    {
                        <div class="container" style="border-bottom: 1px solid darkgray">

                            @{
                                List<int> grammagesList = (List<int>)ViewData["listByGrammages"];
                                int counter = 0;

                                foreach (var dayID in (List<int>)ViewData["daysID"])
                                {
                                    foreach (var item in Model)
                                    {
                                        if (item.DayId == dayID)
                                        {
                                            <div class="row no-gutters dayRow">
                                                <div class="col-4 cent">
                                                    @{ var dayOfYear = item.Date.Value; }
                                                    @dayOfYear.ToString("dd/MM/yyyy")
                                                </div>
                                                <div class="col-4 cent">
                                                    @grammagesList[counter] g
                                                </div>
                                                <div class="col-4 cent">
                                                    <button type="button" onclick="home('@item.DayId', '@item.ClientId')" style="background-color: #636363"><img src="~/img/logout.png" width="30" height="30"></button>
                                                </div>
                                            </div>
                                            counter++;
                                        }
                                    }
                                }
                            }
                        </div>
                    }
                    @if (!(bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 1)
                    {
                        <div class="cent" id="prodNotFound">Nie znaleziono dni</div>
                    }

                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------------------------------------->
        <div id="calorie" style="width: 100%" hidden>
            <div class="container">
                <div class="row no-gutters">
                    <nav class="navbar navbar-expand-md border-bottom cent navsearch">
                        <div>
                            <div style="float: left; margin-right: 15px; margin-left:15px">
                                <div style="font-size:12px; margin-bottom: 2px">Przedział spożytych kalorii (*opcjonalne):</div>
                                <div class="oddodiv">*Od: </div>
                                <input id="from_calorie" class="oddo" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["from"]" />
                                <div class="g1">kcal</div>
                                <div class="oddodiv">*Do: </div>
                                <input id="to_calorie" class="oddo" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["to"]" />
                                <div class="g2">kcal</div>
                                <div class="cb"></div>
                            </div>
                            <div class="cent cb" style="padding-top: 20px"><button class="searchBtn" type="button" onclick="search(2)">Szukaj <img style="height: 15px; width:15px" src="~/img/search.png" /></button></div>
                        </div>
                    </nav>
                </div>
                @if ((bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 2)
                {
                    <div class="row no-gutters" style="margin-top: 100px;">
                        <div class="container">
                            <div class="row no-gutters dayHeader">
                                <div class="col-4 cent" style="margin-left: -17px; margin-right: 17px">
                                    Dzień
                                </div>
                                <div class="col-4 cent iloscPro">
                                    Spożyte kalorie
                                </div>
                                <div class="col-4 cent">
                                    Przejdź do dnia
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row no-gutters" style="font-weight: 600">
                    @if ((bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 2)
                    {
                        <div class="container" style="border-bottom: 1px solid darkgray">

                            @{
                                List<decimal> listOfKcal = (List<decimal>)ViewData["listByKcal"];
                                int counter = 0;

                                foreach (var dayID in (List<int>)ViewData["daysID"])
                                {
                                    foreach (var item in Model)
                                    {
                                        if (item.DayId == dayID)
                                        {
                                            <div class="row no-gutters dayRow">
                                                <div class="col-4 cent">
                                                    @{ var dayOfYear = item.Date.Value; }
                                                    @dayOfYear.ToString("dd/MM/yyyy")
                                                </div>
                                                <div class="col-4 cent">
                                                    @listOfKcal[counter] kcal
                                                </div>
                                                <div class="col-4 cent">
                                                    <button type="button" onclick="home('@item.DayId', '@item.ClientId')" style="background-color: #636363"><img src="~/img/logout.png" width="30" height="30"></button>
                                                </div>
                                            </div>
                                            counter++;
                                        }
                                    }
                                }
                            }
                        </div>
                    }
                    @if (!(bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 2)
                    {
                        <div class="cent" style="margin-top: 125px; width: 100%">Nie znaleziono dni</div>
                    }
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------------------------------------->
        <div id="waterConsumption" style="width: 100%" hidden>
            <div class="container">
                <div class="row no-gutters">
                    <nav class="navbar navbar-expand-md border-bottom cent navsearch">
                        <div>
                            <div style="float: left; margin-right: 15px; margin-left:15px">
                                <div style="font-size:12px; margin-bottom: 2px">Przedział spożytych płynów (*opcjonalne):</div>
                                <div class="oddodiv">*Od: </div>
                                <input id="from_water" class="oddo" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["from"]" />
                                <div class="g1">ml</div>
                                <div class="oddodiv">*Do: </div>
                                <input id="to_water" class="oddo" type="number" min="0" max="99999" onkeypress="onlyInt(event)" onchange="this.value = changeToMaxIfGreater(changeToInteger(this.value), 10000)" value="@ViewData["to"]" />
                                <div class="g2">ml</div>
                                <div class="cb"></div>
                            </div>
                            <div class="cent cb" style="padding-top: 20px"><button class="searchBtn" type="button" onclick="search(3)">Szukaj <img style="height: 15px; width:15px" src="~/img/search.png" /></button></div>
                        </div>
                    </nav>
                </div>
                @if ((bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 3)
                {
                    <div class="row no-gutters" style="margin-top: 100px;">
                        <div class="container">
                            <div class="row no-gutters dayHeader">
                                <div class="col-4 cent" style="margin-left: -17px; margin-right: 17px">
                                    Dzień
                                </div>
                                <div class="col-4 cent iloscPro">
                                    Spożyte płyny
                                </div>
                                <div class="col-4 cent">
                                    Przejdź do dnia
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row no-gutters" style="font-weight: 600">
                    @if ((bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 3)
                    {
                        <div class="container" style="border-bottom: 1px solid darkgray">

                            @{
                                List<int?> listOfMl = (List<int?>)ViewData["listByWater"];
                                int counter = 0;

                                foreach (var dayID in (List<int>)ViewData["daysID"])
                                {
                                    foreach (var item in Model)
                                    {
                                        if (item.DayId == dayID)
                                        {
                                            <div class="row no-gutters dayRow">
                                                <div class="col-4 cent">
                                                    @{ var dayOfYear = item.Date.Value; }
                                                    @dayOfYear.ToString("dd/MM/yyyy")
                                                </div>
                                                <div class="col-4 cent">
                                                    @listOfMl[counter] ml
                                                </div>
                                                <div class="col-4 cent">
                                                    <button type="button" onclick="home('@item.DayId', '@item.ClientId')" style="background-color: #636363"><img src="~/img/logout.png" width="30" height="30"></button>
                                                </div>
                                            </div>
                                            counter++;
                                        }
                                    }
                                }
                            }
                        </div>
                    }
                    @if (!(bool)ViewData["wheterFound"] && (int)ViewData["searchType"] == 3)
                    {
                        <div class="cent" style="margin-top: 125px; width: 100%">Nie znaleziono dni</div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/ShowNavbar.js"></script>
    <script>
        colorEverySecondRow();
    </script>
</body>

