@using X.PagedList.Mvc.Core
@model FitnessApp.Models.FindDayDTO

<head>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/FindDay.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function search(searchType) {
            findDays('@Url.Action("FindDay", "FindDay")', searchType);
        }
        function restoreState() {
            restore('@Model.FindBy', '@Model.From', '@Model.To');
        }
        function home(dayID) {
            location.href = '@Url.Action("Return", "Home")' + '?dayID=' + dayID;
        }
    </script>
</head>

<body onload="onload()">
    <header>
        <nav class="navbar navbar-expand-md cent border-bottom navbar-fixed-top" id="navMain">
            <div style="margin-top: -15px">
                <div id="findDayWhere">Szukaj dni gdzie:</div>
                <div>
                    <select id="choice" onchange="choice()" class="form-control form-control-sm">
                        <option value="0">Spożyto dany posiłek</option>
                        <option value="1">Spożycie kalorii wyniosło</option>
                        <option value="2">Spożycie płynów wyniosło</option>
                    </select>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 100px">
        <div id="product" class="row no-gutters" hidden>
            <nav id="navProduct" class="navbar navbar-expand-md border-bottom cent navsearch navbar-fixed-top container-fluid">
                <div class="panelek row">
                    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start container">
                        <div class="row no-gutters w-100">
                            <div class="col-12 col-sm-6">
                                <div id="chosenPanel" class="d-flex jcontent-flex-end justify-content-sm-center">
                                    <div id="oplaer">
                                        <div class="fs12">Wybierz produkt:</div>
                                        @Html.DropDownList("Product", Model.Products, new { id = "normalDropDown" })
                                    </div>
                                </div>
                            </div>
                            <div id="grammagePanel" class="col-12 col-sm-6">
                                <div id="aderty">
                                    <div class="fs12">Przedział wagi produktu:</div>
                                    <div class="fl">
                                        <div class="fromto">Od:</div>
                                        <input id="from_product" class="int" type="number" oninput="validity.valid||(value='')" />
                                        <div class="g1">g</div>
                                    </div>
                                    <div class="fl">
                                        <div class="fromto">Do:</div>
                                        <input id="to_product" class="int" type="number" oninput="validity.valid||(value='')" />
                                        <div class="g2">g</div>
                                    </div>
                                    <div class="cb"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ml35ml47" class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-8 col-lg-6 cent" id="kolop">
                                <div class="fl" style="margin-right: 15px">
                                    <div class="fs12">Data od:</div>
                                    <input id="datepickerFrom_product" class="datepicker" readonly />
                                </div>
                                <div class="fl">
                                    <div class="fs12">Data do:</div>
                                    <input id="datepickerTo_product" class="datepicker" readonly />
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-lg-6 cent">
                                <button class="searchBtn" type="button" onclick="search(0)">
                                    Szukaj <img style="height: 15px; width:15px" src="~/img/search.png" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="calorie" class="row no-gutters" hidden>
            <nav class="navbar navbar-expand-md border-bottom cent navsearch navbar-fixed-top container-fluid navProduct2">
                <div class="row w-100">
                    <div class="col-12 col-sm-6 col-lg-4 cent justify-content-lg-end">
                        <div class="oolla">
                            <div style="font-size:12px; margin-bottom: 2px">Przedział spożytych kalorii:</div>
                            <div class="fromto">Od: </div>
                            <input id="from_calorie" class="int" type="number" oninput="validity.valid||(value='')" />
                            <div class="g1">kcal</div>
                            <div class="fromto">Do: </div>
                            <input id="to_calorie" class="int" type="number" oninput="validity.valid||(value='')" />
                            <div class="g2">kcal</div>
                            <div class="cb"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cent">
                        <div class="fl" style="margin-right: 35px">
                            <div class="fs12">Data od:</div>
                            <input id="datepickerFrom_calorie" class="datepicker" readonly />
                        </div>
                        <div class="fl">
                            <div class="fs12">Data do:</div>
                            <input id="datepickerTo_calorie" class="datepicker" readonly />
                        </div>
                        <div class="cb"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 cent justify-content-lg-start">
                        <button class="searchBtn2" type="button" onclick="search(1)">
                            <div class="srcBtn">Szukaj <img style="height: 15px; width:15px" src="~/img/search.png" /></div>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
        <div id="waterConsumption" class="row no-gutters" hidden>
            <nav class="navbar navbar-expand-md border-bottom cent navsearch navbar-fixed-top container-fluid navProduct2">
                <div class="row w-100">
                    <div class="col-12 col-sm-6 col-lg-4 cent justify-content-lg-end">
                        <div class="oolla">
                            <div style="font-size:12px; margin-bottom: 2px">Przedział spożytych płynów:</div>
                            <div class="fromto">Od: </div>
                            <input id="from_water" class="int" type="number" oninput="validity.valid||(value='')" />
                            <div class="g1">ml</div>
                            <div class="fromto">Do: </div>
                            <input id="to_water" class="int" type="number" oninput="validity.valid||(value='')" />
                            <div class="g2">ml</div>
                            <div class="cb"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cent">
                        <div class="fl mr35">
                            <div class="fs12">Data od:</div>
                            <input id="datepickerFrom_water" class="datepicker" readonly />
                        </div>
                        <div class="fl">
                            <div class="fs12">Data do:</div>
                            <input id="datepickerTo_water" class="datepicker" readonly />
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 cent justify-content-lg-start">
                        <button class="searchBtn2" type="button" onclick="search(2)">
                            <div class="srcBtn">Szukaj <img style="height: 15px; width:15px" src="~/img/search.png" /></div>
                        </button>
                    </div>
                </div>
            </nav>
        </div>

        @if (Model.Days.Count() > 0)
        {
            <div id="headerRow" class="row no-gutters">
                <div class="container">
                    <div class="row no-gutters dayHeader">
                        <div class="col-4 cent dayCol">Dzień</div>
                        <div class="col-4 cent" id="data"></div>
                        <div class="col-4 cent">Przejdź do dnia</div>
                    </div>
                </div>
            </div>
        }

        <div class="row no-gutters" style="font-weight: 600">
            @foreach (var item in Model.Days)
            {
                <div class="container" style="border-bottom: 1px solid darkgray">
                    <div class="row no-gutters dayRow tableRow">
                        <div class="col-4 cent">
                            @item.Date.ToString("dd.MM.yy")
                        </div>
                        <div class="col-4 cent">
                            @item.DataSearchedFor
                        </div>
                        <div class="col-4 cent">
                            <button type="button" onclick="home('@item.DayId')" style="background-color: #636363"><img src="~/img/logout.png" class="logout"></button>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Days.Count == 0 && Model.WasSearchedFor)
            {
                <div class="cent" style="margin-top: 125px; width: 100%">Nie znaleziono dni</div>
            }
        </div>
        <div>
            @Html.PagedListPager(Model.Days, Page => Url.Action("FindDay", new {
                 Model.DateFrom, Model.DateTo, Model.FindBy, Model.From, Model.To, Model.WasSearchedFor, Page
            }))
        </div>
    </div>
    <script src="~/js/ShowNavbar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Pagination.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/js/FindDay.js"></script>
    <script src="~/js/Datepicker.js"></script>
    <script>
        colorEverySecondRow();
        setInputsValidation();
    </script>
    <script>loadDatePickers('@Model.DateFrom', '@Model.DateTo', '@Model.FindBy');</script>
</body>

