@model FitnessApp.Models.ProductDTO
<html lang="en">
<head>
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/CreateProduct.css" rel="stylesheet" />
    <script src="~/js/CreateProduct.js"></script>
    <script src="~/js/Validation.js"></script>
</head>

<body>
    @if ((int)ViewData["isAdmin"] == 0)
    {
        <header>
            <nav class="navbar navbar-dark navbar-expand-md border-bottom mb-3 blackNav">
                <div>
                    <div class="mr-auto">
                        <a class="text-dark ml-md-4 ml-lg-5 d-none d-md-block" asp-controller="Home" asp-action="Return" asp-route-dayID="@ViewData["dayID"]"><img class="mt-md-1" style="height: 50px; width:185px; margin-top: -10px" src="~/img/logorozowe.png" title="Strona główna"/></a>
                        <a class="text-dark ml-sm-1 d-md-none" asp-controller="Home" asp-action="Return" asp-route-dayID="@ViewData["dayID"]"><img class="mt-md-1" style="height: 47px; width:56px; margin-top: 1px" src="~/img/back.png" title="Strona główna"/></a>
                    </div>
                </div>

                <div>
                    <div class="navbar-nav ml-auto" style="position: absolute; right: 0; margin-top: -20px">
                        <div class="mr-3 mr-md-5">
                            <div style="float:left;"><a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Wyloguj się <img style="height: 15px; width:15px" src="~/img/logout.png" /></a></div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container" id="page">
        <div class="row cent" style="height: 100%; margin-top: -5px">
            <div class="col-9 col-sm-8 col-lg-7 col-xl-6" style="height: unset; padding-top: 30px; background: white">
                <form enctype="multipart/form-data" method="post" asp-action="CreateProduct">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="border-bottom: 1px solid #cacaca; padding-bottom: 20px">
                        <label class="control-label fl">Nazwa produktu</label><div class="star fl">*</div>
                        <input asp-for="ProductName" class="form-control cb" />
                        <span asp-validation-for="ProductName" class="text-danger" placeholder="Nazwa produktu"></span>
                    </div>
                    <div class="naglowek">
                        Wartość odżywcza w 100g:
                    </div>
                    <div class="form-group cent">
                        <div class="leftCol">
                            <label class="control-label fl">Kalorie</label><div class="star fl">*</div>
                            <div class="flex cb">
                                <input asp-for="Calories" class="form-control int" type="number" min="0" max="9000" />
                                <div class="jednostka" style="margin-right: -5px;">kcal</div>
                            </div>
                            <span asp-validation-for="Calories" class="text-danger"></span>
                        </div>
                        <div class="rightCol">
                            <label class="control-label fl">Białko</label><div class="star fl">*</div>
                            <div class="flex cb">
                                <input asp-for="Proteins" class="form-control num macro" type="text" />
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="Proteins" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group cent">
                        <div class="leftCol">
                            <label class="control-label fl">Tłuszcze</label><div class="star fl">*</div>
                            <div id="tluInDiv" class="flex cb">
                                <input asp-for="Fats" class="form-control num macro" type="text" />
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="Fats" class="text-danger"></span>
                        </div>
                        <div class="rightCol">
                            <label class="control-label fl">Węglowodany</label><div class="star fl">*</div>
                            <div class="flex cb">
                                <input asp-for="Carbohydrates" class="form-control num macro" type="text" />
                                <div class="jednostka">g</div>
                            </div>
                            <span asp-validation-for="Carbohydrates" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="moreInfoBtn" class="mb-4" onclick="moreInfo();">
                        <img id="imgDown" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/200px-Arrow-down.svg.png" />
                        <div>Więcej informacji o produkcie</div>
                    </div>
                    <div id="moreInfoDiv" hidden>
                        <div class="naglowek">Witaminy w 100g:</div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Witamina A</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminA" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="VitaminA" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Witamina B1</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminB1" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminB1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Witamina B2</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminB2" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminB2" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Witamina B5</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminB5" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminB5" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Witamina B6</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminB6" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminB6" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Biotyna</label>
                                <div style="display: flex">
                                    <input asp-for="Biotin" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="Biotin" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Kwas foliowy</label>
                                <div style="display: flex">
                                    <input asp-for="FolicAcid" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="FolicAcid" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Witamina B12</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminB12" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="VitaminB12" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Witamina C</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminC" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminC" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Witamina D</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminD" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="VitaminD" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Witamina E</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminE" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminE" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Witamina PP</label>
                                <div style="display: flex">
                                    <input asp-for="VitaminPp" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="VitaminPp" class="text-danger"></span>
                            </div>
                        </div>
                        <div style="margin-bottom: 2rem">
                            <div class="leftCol" style="margin-right: 0 !important">
                                <label class="control-label">Witamina K</label>
                                <div style="display: flex; margin-right: 10px">
                                    <input asp-for="VitaminK" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="VitaminK" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="naglowek" style="padding-top: 15px; border-top: 1px solid #cacaca">Składniki mineralne w 100g:</div>

                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Cynk</label>
                                <div style="display: flex">
                                    <input asp-for="Zinc" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Zinc" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Fosfor</label>
                                <div style="display: flex">
                                    <input asp-for="Phosphorus" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Phosphorus" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Jod</label>
                                <div style="display: flex">
                                    <input asp-for="Iodine" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="Iodine" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Magnez</label>
                                <div style="display: flex">
                                    <input asp-for="Magnesium" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Magnesium" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Miedź</label>
                                <div style="display: flex">
                                    <input asp-for="Copper" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Copper" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Potas</label>
                                <div style="display: flex">
                                    <input asp-for="Potassium" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Potassium" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Selen</label>
                                <div style="display: flex">
                                    <input asp-for="Selenium" class="form-control num micro" type="text">
                                    <div class="jednostka">µg</div>
                                </div>
                                <span asp-validation-for="Selenium" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Sód</label>
                                <div style="display: flex">
                                    <input asp-for="Sodium" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Sodium" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group cent">
                            <div class="leftCol">
                                <label class="control-label">Wapń</label>
                                <div style="display: flex">
                                    <input asp-for="Calcium" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Calcium" class="text-danger"></span>
                            </div>
                            <div class="rightCol">
                                <label class="control-label">Żelazo</label>
                                <div style="display: flex">
                                    <input asp-for="Iron" class="form-control num micro" type="text">
                                    <div class="jednostka">mg</div>
                                </div>
                                <span asp-validation-for="Iron" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label">Dodaj zdjęcie produktu</label>
                        <div class="custom-file" id="photoLoad">
                            <input asp-for="Photo" type='file' class="form-control custom-file-input" formenctype="multipart/form-data" />
                            <label class="custom-file-label" style="overflow: hidden">Wybierz plik...</label>
                        </div>
                    </div>

                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var fileName = $(this).val().split("\\").pop();
                                    $(this).next('.custom-file-label').html(fileName);
                                });
                            });
                        </script>
                    }

                    <div class="form-group cent mt-5">
                        <input type="submit" value="Dodaj produkt" class="btn btn-primary" style="width: 50%; height: 40px" asp-route-inWhich="@ViewData["inWhich"]" asp-route-dayID="@ViewData["dayID"]" asp-route-isAdmin="@ViewData["isAdmin"]" />
                    </div>

                    <div class="form-group cent" style="margin-top: 35px; margin-bottom: 2rem">
                        @if ((int)ViewData["isAdmin"] == 0)
                        {
                            <a asp-action="Search" asp-controller="Product" asp-route-inWhich="@ViewData["inWhich"]" asp-route-dayID="@ViewData["dayID"]">
                                Powrót do wyszukiwania
                            </a>
                        }
                        else
                        {
                            <a asp-action="AdminProduct" asp-controller="Admin">
                                Powrót do przeglądania produktów
                            </a>
                        }
                    </div>

                    @if ((int)ViewData["isAdmin"] == 1)
                    {
                        <script>document.getElementsByTagName("main")[0].style.paddingTop = "0"</script>
                    }

                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>micronutritionsValidation();</script>
</body>
</html>