@model IEnumerable<FitAppka.Models.Produkt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaProduktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZdjecieSciezka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kalorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bialko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tluszcze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weglowodany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaB1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaB2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaB5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaB6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biotyna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KwasFoliowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaB12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WitaminaPp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cynk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fosfor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magnez)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miedz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wapn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zelazo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaProduktu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZdjecieSciezka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kalorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bialko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tluszcze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weglowodany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaB1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaB2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaB5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaB6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biotyna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KwasFoliowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaB12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WitaminaPp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cynk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fosfor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magnez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miedz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Selen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wapn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zelazo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProduktId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProduktId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProduktId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
