<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/SearchProduct.css" rel="stylesheet" />
    <link href="~/css/Search2Product.css" rel="stylesheet" />
    <script src="~/js/Validation.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/SearchProduct.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-md border-bottom mb-3 blackNav">
            <div>
                <div class="mr-auto">
                    <a class="text-dark ml-md-4 ml-lg-5 d-none d-md-block" asp-controller="Home" asp-action="Return" asp-route-dayID="@ViewData["dayID"]"><img class="mt-md-1" id="logoPink" src="~/img/logorozowe.png" title="Strona główna" /></a>
                    <a class="text-dark ml-sm-1 d-md-none" asp-controller="Home" asp-action="Return" asp-route-dayID="@ViewData["dayID"]"><img class="mt-md-1" id="backImg" src="~/img/back.png" title="Strona główna" /></a>
                </div>
            </div>

            <a asp-action="Search" asp-route-dayID="@ViewData["dayID"]" asp-route-inWhich="@ViewData["inWhich"]" class="mx-auto" id="mealAndDay">
                <h4 id="mealName">@ViewData["meal"]</h4>
                <h5 id="dayBtn">@ViewData["day"]</h5>
            </a>

            <div>
                <div class="navbar-nav ml-auto" id="right">
                    <div class="mr-3 mr-md-5">
                       <a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Wyloguj się <img class="navIcon" src="~/img/logout.png" /></a>
                    </div>
                </div>
            </div>
        </nav>


        <nav class="navbar navbar-expand-md mb-3 container-fluid" id="srcPan">
            <div class="row no-gutters" id="navSearch">
                <div class="col-12 col-md-4 cent">
                    <div>
                        <form method="GET">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @Html.TextBox("search", "", new { placeholder="Szukaj produktu w bazie", @class="form-control valid w225", @data_val="true", @data_val_required="Należy wpisać nazwę produktu" })
                            @Html.Hidden("inWhich", ViewData["inWhich"])
                            @Html.Hidden("dayID", ViewData["dayID"])
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-4 cent">
                    <div>
                        <a class="btn btn-outline-dark w225" id="addProduct" asp-action="Create" asp-route-dayID="@ViewData["dayID"]" asp-route-inWhich="@ViewData["inWhich"]" asp-route-isAdmin="0">
                            Dodaj nowy produkt
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 cent">
                    <form method="GET">
                        <button type="submit" class="btn btn-outline-dark w225">Pokaż moje produkty</button>
                        @Html.Hidden("onlyUserItem", true)
                    </form>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>