@model IEnumerable<FitAppka.Models.ProductDTO>

<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/SearchProduct.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/SearchProduct.js"></script>
</head>
<body onload="onload()">
    <input id="productId" type="hidden" />
    <input id="dayId" type="hidden" value="@ViewData["dayID"]">
    <input id="atWhichMealOfTheDay" type="hidden" value="@ViewData["inWhich"]"> 

    <header>
        <nav class="navbar navbar-dark navbar-expand-md border-bottom mb-3 blackNav">
            <div>
                <div class="mr-auto">
                    <a class="text-dark ml-md-4 ml-lg-5 d-none d-md-block" asp-controller="Home" asp-action="Return" asp-route-dayID="@ViewData["dayID"]"><img class="mt-md-1" id="logoPink" src="~/img/logorozowe.png" title="Strona główna" /></a>
                    <a class="text-dark ml-sm-1 d-md-none" asp-controller="Home" asp-action="Return" asp-route-dayID="@ViewData["dayID"]"><img class="mt-md-1" id="backImg" src="~/img/back.png" title="Strona główna" /></a>
                </div>
            </div>

            <a asp-action="Search" asp-route-dayID="@ViewData["dayID"]" asp-route-inWhich="@ViewData["inWhich"]" class="mx-auto" id="mealAndDay">
                <h4 id="mealName">@ViewData["meal"]</h4>
                <h5 id="dayBtn">@ViewData["day"]</h5>
            </a>

            <div>
                <div class="navbar-nav ml-auto" id="right">
                    <div class="mr-3 mr-md-5">
                        <a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Wyloguj się <img class="navIcon" src="~/img/logout.png" /></a>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-md mb-3 container-fluid navbar-fixed-top" id="srcPan">
            <div class="row no-gutters" id="navSearch">
                <div class="col-6 col-md-4 cent">
                    <div>
                        <form method="get" class="flex">
                            <input type="hidden" value="@ViewData["inWhich"]" name="inWhich">
                            <input type="hidden" value="@ViewData["dayID"]" name="dayID">
                            @Html.TextBox("search", "", new { placeholder = "Szukaj produktu", @class = "form-control", @id = "searchInput" })
                            <button type="submit" id="submitSearch"><img src="~/img/searchBlack.png" id="searchIcon" /></button>
                        </form>
                    </div>
                </div>
                <div class="col-6 col-md-4 cent">
                    <form method="get">
                        <input type="hidden" value="true" name="onlyUserItem">
                        <input type="hidden" value="@ViewData["inWhich"]" name="inWhich">
                        <input type="hidden" value="@ViewData["dayID"]" name="dayID">
                        <button type="submit" id="showMyProducts" class="btn btn-dark">Pokaż moje produkty</button>
                    </form>
                </div>
                <div class="d-none d-md-flex col-md-4 cent">
                    <div>
                        <a class="btn btn-dark" id="addProduct" asp-action="Create" asp-route-dayID="@ViewData["dayID"]" asp-route-inWhich="@ViewData["inWhich"]" asp-route-isAdmin="0">
                            Dodaj nowy produkt <img src="~/img/add.png" class="addIcon" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid" id="container">
        <div class="modal fade" tabindex="-1" id="addMealModal" data-keyboard="false" style="margin-top: 170px">
            <div class="modal-dialog" style="display: flex; justify-content: center">
                <div class="modal-content" style="width: 300px;">
                    <div class="modal-header" style="height: 25px">
                        <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal">×</button>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row no-gutters" style="height: 100px">
                                <div id="photoArea" class="col-6"></div>
                                <div class="col-6">
                                    <div class="container" style="margin-left: -50px; margin-top: -14px; width: 215px">
                                        <div id="name" class="row no-gutters cent"></div>
                                        <div id="kcal" class="row no-gutters cent"></div>
                                        <div class="row no-gutters cent" style="width: 170px; font-size: 13px; margin-left: 7px">
                                            <div id="proteins"></div>
                                            <div id="fats"></div>
                                            <div id="carbs"></div>
                                        </div>
                                        <div class="row no-gutters cent" style="font-size: 13px; font-weight: 600">/100g</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 10px">
                                <div>Ile dodać?</div>
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 10px;">
                                <input id="grammage" type="number" min="1" max="9999" style="width: 60px; margin-right: 3px; text-align:center" /><div style="font-weight: 600; margin-top: 2px">g</div>
                                <button id="addMeal" onclick="addMeal('@Url.Action("Meal", "Home")')"><img style="height:30px; width: 30px" src="~/img/add.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Count() > 0)
        {
            <div id="headersRow" class="row no-gutters mb-3">
                <div class="col-4" style="text-align:left">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                Zdjęcie<br />
                                produktu
                            </div>
                            <div id="productNameHeader" class="col-12 col-md-7 col-lg-6">
                                Nazwa<br />
                                produktu
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div>Kcal<br />/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Białko<br />/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Tł.<br />/100g</div>
                            </div>
                            <div class="col-3">
                                <div>Węgl.<br />/100g</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div style="margin-top: -16px">
            @foreach (var item in Model)
            {
                <div class="row no-gutters tableRow">
                    <div class="col-4 acent">
                        <div class="container" style="padding-left: 0">
                            <div class="row no-gutters">
                                <div class="d-none d-md-inline-block col-md-5 col-lg-6">
                                    @{ string photoPath;
                                        if (item.PhotoPath != null)
                                        {
                                            photoPath = "~/photos/" + (item.PhotoPath);
                                            <script>pathArray.push('@item.PhotoPath');</script>
                                        }
                                        else
                                        {
                                            photoPath = "~/img/miss.png";
                                            <script>pathArray.push('null');</script>
                                        }
                                        <script>
                                            IDarray.push('@item.ProductId');
                                            nameArray.push('@item.ProductName');
                                            kcalArray.push('@item.Calories');
                                            proteinsArray.push('@item.Proteins');
                                            fatsArray.push('@item.Fats');
                                            carbsArray.push('@item.Carbohydrates');
                                        </script>
                                    }
                                    <img src="@photoPath" class="photo" asp-append-version="true" />
                                </div>
                                <div class="col-12 col-md-7 col-lg-6 productName">
                                    @Html.DisplayFor(i => item.ProductName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-7 marauto">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-3">@Html.DisplayFor(i => item.Calories)kcal</div>
                                <div class="col-3">@Html.DisplayFor(i => item.Proteins)g</div>
                                <div class="col-3">@Html.DisplayFor(i => item.Fats)g</div>
                                <div class="col-3">@Html.DisplayFor(i => item.Carbohydrates)g</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 addMealPanel">
                        <button class="showModalAddMealBtn" onclick="showModalAddMeal(@item.ProductId)"><img class="addMealIcon" src="~/img/add.png"></button>
                    </div>
                </div>
            }
        </div>

        @if ((bool)ViewData["wereSearched"] && Model.Count().Equals(0))
        {
            <div class="cent" style="margin-top: 25px">
                Nie znaleziono produktów
            </div>
        }
    </div>
    <nav class="navbar navbar-light border-top box-shadow mb d-md-none" id="footerNav">
        <div class="container" style="padding:0;">
            <div class="row no-gutters w-100">
                <div class="col-12 cent">
                    <div class="w-100 cent">
                        <a class="btn btn-dark addProductFooter" asp-action="Create" asp-route-dayID="@ViewData["dayID"]" asp-route-inWhich="@ViewData["inWhich"]" asp-route-isAdmin="0">
                            Dodaj nowy produkt <img src="~/img/add.png" class="addIcon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>