@model IEnumerable<FitAppka.Models.StrengthTrainingType>
<html>

<head>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <link rel="stylesheet" href="~/css/AddTraining.css" type="text/css">
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <script src="~/js/TrainingValidation.js"></script>
    <script src="~/js/AddStrengthTraining.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/ShowNavbar.js"></script>
</head>
<body>

    <div class="container-fluid mt-3">

        <div class="modal fade" tabindex="-1" id="addTrainingType" data-keyboard="false" style="margin-top: 100px">
            <div class="modal-dialog" style="display: flex; justify-content: center">
                <div class="modal-content">
                    <div class="modal-header" style="height: 35px">
                        <div style="margin-top: -10px">
                            Tworzenie ćwiczenia
                        </div>
                        <button type="button" style="margin-top: -29px" class="close" data-dismiss="modal">×</button>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row no-gutters cent">
                                <div style="margin-left: -58px">Nazwa ćwiczenia:</div><div class="star">*</div>
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 3px;">
                                <input id="strengthTrainingTypeName" type="text" maxlength="50" oninput="validity.valid || (value = '')" />
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 15px;">
                                <div style="margin-left: -143px">Serie:</div><div class="star">*</div>
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 3px;">
                                <input id="setsT" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 15px;">
                                <div style="margin-left: -90px">Powtórzenia:</div><div class="star">*</div>
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 3px;">
                                <input id="repsT" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 15px;">
                                <div style="margin-left: -135px">Ciężar:</div>
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 3px;">
                                <input id="weightT" type="number" max="99999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')" />
                            </div>
                            <div class="row no-gutters cent" style="margin-top: 33px; margin-bottom: 5px">
                                <button type="button" onclick="addStrengthTrainingType(@ViewData["dayID"], '@Url.Action("AddStrengthTrainingType", "Training")');" class="btn btn-dark" style="background:#52ad3c; color:white; height: 37px">Utwórz nowe ćwiczenie</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters container" id="panelek">
            <div class="row no-gutters pt-2" style="margin-left: 20px">
                <div id="searchHeader">Przeszukaj naszą bazę ćwiczeń:</div>
            </div>
            <div class="row no-gutters pb-4" id="searchAreaRow">
                <div id="searchArea" class="col-12 col-md-6">
                    @using (Html.BeginForm("StrengthTraining", "Training", FormMethod.Get))
                    {
                        <div id="divValidation">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</div>
                        <div style="margin-top: -3px">
                            <div id="textboxDIV">@Html.TextBox("search", "", new { @class = "form-control valid", @data_val = "true", @data_val_required = "Należy wpisać nazwę ćwiczenia" })</div>
                            <div style="float:left; padding-top:15px"><button id="submitSearch" type="submit"><img src="~/img/searchBlack.png" id="searchIcon"/></button></div>
                            <div style="clear:both"></div>
                        </div>
                        @Html.Hidden("dayID", ViewData["dayID"])
                    }
                </div>
                <div id="createTrainingDiv" class="col-12 col-md-6">
                    <button class="btn" id="createTraining" onclick="showModalAddTraining();">Stwórz swój trening siłowy</button>
                </div>
            </div>
        </div>
        <div class="row no-gutters pt-4">
            <div id="trainingPanel" class="mb-3 mb-md-0 mt-lg-2 col-md-6 col-lg-5 mr-md-4" style="height: 350px">
                @{
                    foreach (var item in Model)
                    {
                        <div class="training row no-gutters" onclick="setParams('@item.TrainingName', '@item.StrengthTrainingTypeId', '@ViewData["dayID"]')">
                            @item.TrainingName
                        </div>
                    }
                    if (Model.Count() == 0 && (bool)ViewData["wasSearched"])
                    {
                        <div style="display: flex; justify-content: center; align-items: center; height: 90%">
                            Nie znaleziono treningu
                        </div>
                    }
                }
            </div>

            <div class="mt-lg-2 col-md-5 col-lg-4" id="paramsPanel" style="height: 350px">
                <div id="trainingName"></div>
                <form id="formAdd" method="POST">
                    <div id="setsArea" hidden>
                        <div class="acent">
                            <div>Serie:</div><div class="star">*</div>
                        </div>
                        <input class="cb" id="sets" type="number" name="sets" min="1" max="9999999" step="1" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')">
                    </div>
                    <div id="repsArea" class="param" hidden>
                        <div class="acent">
                            <div>Powtórzenia:</div><div class="star">*</div>
                        </div>
                        <input class="cb" id="reps" type="number" max="9999999" step="1" name="reps" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')"/>
                    </div>
                    <div id="weightArea" class="param" hidden>
                        <div>Ciężar:</div>
                        <input id="weight" type="number" step="1" max="9999999" name="weight" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 1000)" oninput="validity.valid || (value = '')"/>
                        <div style="font-size: 13px; margin-top: 5px; font-weight: 600">kg.</div>
                    </div>
                    <div id="add" hidden class="cent cb">
                        <button type="button" onclick="addTraining()" class="btn btn-dark" id="addStrengthTraining">Dodaj trening</button>
                    </div>
                    <input type="hidden" id="trainingTypeId" name="trainingTypeId" />
                    <input type="hidden" id="dayId" name="dayID" />
                </form>
            </div>
        </div>
    </div>
    
    <script src="~/js/Settings.js"></script>
</body>
</html>