@model FitAppka.Models.DietCreatorDTO
<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <script src="~/js/ShowNavbar.js"></script>
    <link href="~/css/DietCreator.css" rel="stylesheet" />
    <link href="~/css/RadioButtons.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md cent border-bottom navbar-fixed-top" id="navMain">
            <div class="row w-100">
                <div class="col-6 d-flex justify-content-end">
                    <button class="btn btn-dark mr-sm-3 mr-md-4 mr-lg-5" id="showMyDiets">Pokaż moje diety</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-dark ml-sm-3 ml-md-4 ml-lg-5" id="createDiet" asp-controller="DietCreator" asp-action="CreateDiet">
                        Stwórz nową dietę <img src="~/img/add.png" class="addIcon" />
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <div class="container" id="table">
        <div class="row no-gutters cent" style="margin-top: 10px">
            @*<div class="col-12" style="font-size: 14px">Pokaż aktywną dietę dla:</div>*@
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-1">
                <label class="for-checkbox-tools" for="tool-1">Pon</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-2">
                <label class="for-checkbox-tools" for="tool-2">Wto</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-3">
                <label class="for-checkbox-tools" for="tool-3">Śro</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-4">
                <label class="for-checkbox-tools" for="tool-4">Czw</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-5">
                <label class="for-checkbox-tools" for="tool-5">Pt</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-6">
                <label class="for-checkbox-tools" for="tool-6">Sob</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tool-7">
                <label class="for-checkbox-tools" for="tool-7">Ndz</label>
            </div>
        </div>

        @if (Model != null)
        {
            <div class="row no-gutters" id="columnsHeader">
                <div class="d-none d-lg-inline-flex col-lg-2 cent">Zdjęcie produktu</div>
                <div class="col-4 col-lg-3 cent">Nazwa produktu</div>
                <div class="col-8 col-lg-7 container">
                    <div class="row no-gutters acent">
                        <div class="col-3 cent">Ilość produktu</div>
                        <div class="col-9 container row no-gutters">
                            <div class="col-3 cent">Kalorie</div>
                            <div class="col-3 cent">Białko</div>
                            <div class="col-3 cent">Tłuszcze</div>
                            <div class="col-3 cent">Węgl.</div>
                        </div>
                    </div>
                </div>
            </div>


            @foreach (var product in Model.Products)
            {
                <div class="row no-gutters tableRow">
                    <div class="d-none d-lg-inline-flex col-lg-2 cent"></div>
                    <div class="col-4 col-lg-3 cent acent" style="font-weight: 600">@product.ProductName</div>
                    <div class="col-8 col-lg-7 container">
                        <div class="row no-gutters" style="height: 100%">
                            <div class="col-3 cent acent">@product.Grammage</div>
                            <div class="col-9 container row no-gutters">
                                <div class="col-3 cent acent">@product.Calories</div>
                                <div class="col-3 cent acent">@product.Proteins</div>
                                <div class="col-3 cent acent">@product.Fats</div>
                                <div class="col-3 cent acent">@product.Carbohydrates</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else {
            <div class="row cent mt-5 ">
                <img src="~/img/not_found.png" style="width: 35px; height: 35px" />
                <div id="notfound">Aktualnie brak diety w tym dniu ;(</div>
            </div>
        }

    </div>
</body>
</html>
