@model FitAppka.Models.ActiveDietDTO
<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <script src="~/js/ShowNavbar.js"></script>
    <link href="~/css/DietCreator.css" rel="stylesheet" />
    <link href="~/css/RadioButtons.css" rel="stylesheet" />
    <script src="~/js/AllViews.js"></script>
    <script src="~/js/ActiveDiets.js"></script>
    <script>
        function changeDietDayOfWeek(dayOfWeek) {
            location.href = "@Url.Action("ActiveDiets", "DietCreator")" + "?dayOfWeek=" + dayOfWeek;
        }
    </script>
</head>
<body onload="restoreDay(); colorEverySecondRow();">
    <header>
        <nav class="navbar navbar-expand-md cent border-bottom navbar-fixed-top" id="navMain">
            <div class="row w-100">
                <div class="col-6 d-flex justify-content-end">
                    <a class="btn btn-dark mr-sm-3 mr-md-4 mr-lg-5" id="showMyDiets" asp-controller="DietCreator" asp-action="MyDiets">
                        Pokaż moje diety</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-dark ml-sm-3 ml-md-4 ml-lg-5" id="createDiet" asp-controller="DietCreator" asp-action="CreateDiet">
                        Stwórz nową dietę <img src="~/img/add.png" class="addIcon" />
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <div class="container" id="table">
        <div class="row no-gutters cent" style="margin-top: 10px">
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="monday" onclick="changeDietDayOfWeek(1)">
                <label class="for-checkbox-tools" for="monday">Pon</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="tuesday" onclick="changeDietDayOfWeek(2)">
                <label class="for-checkbox-tools" for="tuesday">Wto</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="wednesday" onclick="changeDietDayOfWeek(3)">
                <label class="for-checkbox-tools" for="wednesday">Śro</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="thursday" onclick="changeDietDayOfWeek(4)">
                <label class="for-checkbox-tools" for="thursday">Czw</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="friday" onclick="changeDietDayOfWeek(5)">
                <label class="for-checkbox-tools" for="friday">Pt</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="saturday" onclick="changeDietDayOfWeek(6)">
                <label class="for-checkbox-tools" for="saturday">Sob</label>
            </div>
            <div>
                <input class="checkbox-tools" type="radio" name="tools" id="sunday" onclick="changeDietDayOfWeek(0)">
                <label class="for-checkbox-tools" for="sunday">Ndz</label>
            </div>
        </div>

        @if (Model != null)
        {
            <div class="row no-gutters" id="columnsHeader">
                <div class="d-none d-lg-inline-flex col-lg-2 cent">Zdjęcie produktu</div>
                <div class="col-4 col-lg-3 cent">Nazwa produktu</div>
                <div class="col-8 col-lg-7 container">
                    <div class="row no-gutters acent">
                        <div class="col-3 cent">Ilość produktu</div>
                        <div class="col-9 container row no-gutters">
                            <div class="col-3 cent">Kalorie</div>
                            <div class="col-3 cent">Białko</div>
                            <div class="col-3 cent">Tłuszcze</div>
                            <div class="col-3 cent">Węgl.</div>
                        </div>
                    </div>
                </div>
            </div>


            @foreach (var product in Model.Products)
            {
                <div class="row no-gutters tableRow">
                    <div class="d-none d-lg-inline-flex col-lg-2 cent" id="photoArea">
                        @{ string photoPath;
                            if (product.PhotoPath != null){
                                photoPath = "~/photos/" + (product.PhotoPath);
                            }
                            else{
                                photoPath = "~/img/miss.png";
                            }
                        }
                        <img src="@photoPath" class="photo" asp-append-version="true" />
                    </div>
                    <div class="col-4 col-lg-3 cent acent" style="font-weight: 600">@product.ProductName</div>
                    <div class="col-8 col-lg-7 container">
                        <div class="row no-gutters" style="height: 100%">
                            <div class="col-3 cent acent">@product.Grammage g</div>
                            <div class="col-9 container row no-gutters">
                                <div class="col-3 cent acent">@product.Calories </div>
                                <div class="col-3 cent acent">@product.Proteins g</div>
                                <div class="col-3 cent acent">@product.Fats g</div>
                                <div class="col-3 cent acent">@product.Carbohydrates g</div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row no-gutters">
                <div class="d-none d-lg-inline-flex col-lg-2 cent"></div>
                <div class="col-4 col-lg-3 cent"></div>
                <div class="col-8 col-lg-7 container">
                    <div class="row no-gutters acent pt-1 pb-2" style="border-bottom-left-radius: 10rem; border-bottom-right-radius: 4rem; background-color: #636363; color:white">
                        <div class="col-3 cent">Suma: </div>
                        <div class="col-9 container row no-gutters">
                            <div class="col-3 cent">@Model.CaloriesSum</div>
                            <div class="col-3 cent">@Model.ProteinsSum</div>
                            <div class="col-3 cent">@Model.FatsSum</div>
                            <div class="col-3 cent">@Model.CarbohydratesSum</div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="row cent mt-5 ">
                <img src="~/img/not_found.png" style="width: 35px; height: 35px" />
                <div id="notfound">Aktualnie brak diety w tym dniu ;(</div>
            </div>
        }

    </div>
</body>
</html>
