@model FitnessApp.Models.DTO.DietCreatorDTO.CreateDietDTO 
<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/css/AddTraining.css" rel="stylesheet" />
    <link href="~/css/CreateDiet.css" rel="stylesheet" />
    <link href="~/css/SwitchCheckbox.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/AllViews.js"></script>
    <script src="~/js/ShowNavbar.js"></script>
    <script src="~/js/CreateDiet.js"></script>
    <script src="~/js/Validation.js"></script>
    <script>
        function getRootPath() {
            return getWebRootPath("@((Model.RootPath).Replace("\\","\\\\"))");
        }
        function checkIfModalWasOpen() {
            if (@(Model.WasSearched ? 1 : 0) == 1) {
                $("#addProductModal").removeClass('fade');
                $("#addProductModal").modal('show');
                $("#addProductModal").addClass('fade');
            }
        }

    </script>
</head>
<body onload="onload('@Url.Action("DeleteProduct","DietCreator")')">

    @if ((bool)ViewData["admin"]) {
        <script>hideNavbarIfAdmin();</script>
    }

    <div class="container">
        <div class="modal fade" tabindex="-1" id="addProductModal" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="height: 25px">
                        <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div id="tableContainer">
                            <div class="row no-gutters" style="height: 90%">
                                <div class="col-12">
                                    <div class="row no-gutters mb-4">
                                        <form method="get">
                                            <div style="margin-top: -3px">
                                                <div id="textboxDIV">@Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Szukaj produktu" })</div>
                                                <div style="float:left; padding-top:15px"><button id="submitSearch" type="submit"><img src="~/img/searchBlack.png" id="searchIcon" /></button></div>
                                                <div style="clear:both"></div>
                                                @Html.Hidden("searched", true)
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row no-gutters acent pt-2">
                                        <div class="col-4"></div>
                                        <div class="col-8 cent pb-1" id="stog">na 100g produktu</div>
                                    </div>
                                    <div class="row no-gutters cent acent" id="productsHeader">
                                        <div class="col-3 cent">Nazwa</div>
                                        <div class="col-2 cent">Kcal</div>
                                        <div class="col-2 cent" id="proteinHeader">B</div>
                                        <div class="col-2 cent" id="fatHeader">T</div>
                                        <div class="col-2 cent" id="carbsHeader">W</div>
                                        <div class="col-1"></div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="searchPanel">
                                            @foreach (var item in Model.SearchProducts)
                                            {
                                                string photoPath;
                                                if (item.PhotoPath != null)
                                                {
                                                    photoPath = "~/photos/" + (item.PhotoPath);
                                                    <script>pathArray.push('@item.PhotoPath');</script>
                                                }
                                                else
                                                {
                                                    photoPath = "~/img/miss.png";
                                                    <script>pathArray.push('null');</script>
                                                }
                                                <script>
                                                    IDarray.push('@item.ProductId');
                                                    nameArray.push('@item.ProductName');
                                                    kcalArray.push('@item.Calories');
                                                    proteinsArray.push('@item.Proteins');
                                                    fatsArray.push('@item.Fats');
                                                    carbsArray.push('@item.Carbohydrates');
                                                </script>

                                                <div class="row no-gutters cent acent searchProduct">
                                                    <div class="col-3 cent h-100 acent">
                                                        <div>@item.ProductName</div>
                                                    </div>
                                                    <div class="col-2 cent">@item.Calories</div>
                                                    <div class="col-2 cent">@item.Proteins</div>
                                                    <div class="col-2 cent">@item.Fats</div>
                                                    <div class="col-2 cent">@item.Carbohydrates</div>
                                                    <div class="col-1">
                                                        <button type="button" class="btnAddProduct" onclick="showAddOrEditModal(@item.ProductId)">
                                                            <img class="imgBtnAdd" src="~/img/add.png">
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.SearchProducts.Count.Equals(0))
                                            {
                                                <div class="cent mt-5">
                                                    Nie znaleziono produktu o podanej nazwie
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>checkIfModalWasOpen();</script>
        <input type="hidden" id="productId" />

        <div class="modal fade" tabindex="-1" id="addOrEditModal" data-keyboard="false" style="margin-top: 170px" data-backdrop="static">
            <div class="modal-dialog" style="display: flex; justify-content: center">
                <div class="modal-content" style="width: 300px !important;">
                    <div class="modal-header" style="height: 25px">
                        <button type="button" style="margin-top: -30px" class="close" onclick="closeAddModal()">×</button>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row no-gutters" style="height: 100px">
                                <div id="photoArea" class="col-6"></div>
                                <div class="col-6">
                                    <div class="container" style="margin-left: -50px; margin-top: -14px; width: 215px">
                                        <div id="name" class="row no-gutters cent"></div>
                                        <div id="kcal" class="row no-gutters cent"></div>
                                        <div class="row no-gutters cent" style="width: 170px; font-size: 13px; margin-left: 7px">
                                            <div id="proteins"></div>
                                            <div id="fats"></div>
                                            <div id="carbs"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters cent" style="margin-top: 10px;">
                                <input id="grammage" type="number" min="1" max="9999" style="width: 60px; margin-right: 3px; text-align:center;" class="int" onchange="this.value = changeToMaxIfGreaterInt(this.value, 999999)" /><div style="font-weight: 600; margin-top: 2px">g</div>
                                <button onclick="tryAddProduct('@Url.Action("AddProduct", "DietCreator")')" style="margin-left: 5px; background:none; border:none">
                                    <img style="width:30px; height:30px" src="~/img/add.png" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="overrideModal" style="margin-top: 170px" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content" style="width: 375px !important">
                    <div class="modal-header flex-column">
                        <h6 class="modal-title w-100">Czy chcesz podmienić aktywną dietę?</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="padding: 0rem 1rem; margin-top: -25px; padding-bottom: 15px">×</button>
                    </div>
                    <div class="modal-body" style="color: #5e5e5e; font-size: 14px;">
                        <p>
                            Istnieje już inna aktywna dieta, obowiązująca w zadane dni tygodnia.
                            Czy chcesz ją dezaktywować, na rzecz nowej?
                        </p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie aktywuj</button>
                        <button type="button" class="btn btn-danger" id="yesOverride">Tak, podmień</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="row no-gutters cent h-100">
            <div class="col-12 col-sm-11 col-lg-8 col-xl-7 cent" style="background-color: white; margin-top: -5px; height: unset">
                <form method="post" class="mx-3">
                    <div class="form-group my-4 pl-3 row">
                        <label class="switch">
                            <input id="active" type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        <div>
                            <label for="active" id="labelForActive">Aktywacja diety</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="my-2">Stwórz dietę dla:</div>
                        <ul class="ks-cboxtags">
                            <li><input type="checkbox" id="Monday"><label for="Monday">Pon</label></li>
                            <li><input type="checkbox" id="Tuesday"><label for="Tuesday">Wto</label></li>
                            <li><input type="checkbox" id="Wednesday"><label for="Wednesday">Śro</label></li>
                            <li><input type="checkbox" id="Thursday"><label for="Thursday">Czw</label></li>
                            <li><input type="checkbox" id="Friday"><label for="Friday" style="width: 65px">Pt</label></li>
                            <li><input type="checkbox" id="Saturday"><label for="Saturday">Sob</label></li>
                            <li><input type="checkbox" id="Sunday"><label for="Sunday">Ndz</label></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Nazwa diety:</label>
                        <input id="ProductName" class="form-control" maxlength="25" style="border-radius: .15rem !important" />
                    </div>
                    <div class="form-group">
                        <label>Produkty:</label>
                        <button type="button" data-target="#addProductModal" data-toggle="modal" id="btnAddProduct"><img style="height:30px; width: 30px" src="~/img/add.png"></button>
                    </div>
                    <div class="form-group">
                        <div class="row no-gutters acent py-2" id="columnsHeader">
                            <div class="col-2 col-lg-3 h-100 cent">Nazwa</div>
                            <div class="col-9 col-lg-8 container h-100">
                                <div class="row no-gutters">
                                    <div class="col-3 cent">Ilość</div>
                                    <div class="col-9 container row no-gutters">
                                        <div class="col-3 cent">Kcal</div>
                                        <div class="col-3 cent">B</div>
                                        <div class="col-3 cent">T</div>
                                        <div class="col-3 cent">W</div>
                                    </div>
                                </div>
                            </div><div class="col-1"></div>
                        </div>

                        <div id="productsPanel">

                        </div>

                    </div>
                    <div class="form-group cent mt-4">
                        <button id="saveDiet" onclick="savediet('@Url.Action("CreateDiet", "DietCreator")', '@Url.Action("ActiveDiets", "DietCreator")', '@((bool)ViewData["admin"] ? "true" : "false")', '@Url.Action("AdminDiet", "Admin")')" type="button" class="btn btn-primary mt-4">Zapisz dietę</button>
                    </div>
                    <div class="form-group cent" id="backToDiets">
                        @if ((bool)ViewData["admin"]) {
                            <a asp-action="AdminDiet" asp-controller="Admin">Wróć do diet</a>
                        } else {
                            <a asp-action="ActiveDiets" asp-controller="DietCreator">Wróć do aktualnych diet</a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>