@model IEnumerable<FitAppka.Models.Meal>

<head>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/ShowNavbar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/Validation.js"></script>
    <script type="text/javascript">
        function createChart() { drawChart(@ViewData["proteins0"], @ViewData["carbs0"], @ViewData["fats0"]); }
        function showWater() { glass(@ViewData["water"], @ViewData["caloriesTarget"]); }
        function overflow() { colorItRed(@ViewData["%proteins"], @ViewData["%carbs"], @ViewData["%fats"], @ViewData["%calories"]); }
        function deleteMeal(id) { deleteMealUrl(id, '@Url.Action("Meal","Home")'); }
        function showEditModal(id) { showEditModalUrl(id, '@Url.Action("Meal","Home")'); }
        function hide() { hideChart(@ViewData["proteins0"], @ViewData["carbs0"], @ViewData["fats0"]); }
    </script>
    <script src="~/js/Main.js"></script>
</head>

<body onload="onload()">
    @foreach (var item in Model) {
        if (item.Product.PhotoPath != null) {
            <script>pathArray.push('@item.Product.PhotoPath');</script>
        }
        else {
            <script>pathArray.push('null');</script>
        }
        <script>
            IDarray.push('@item.MealId');
            nameArray.push('@item.Product.ProductName');
            kcalArray.push('@item.Calories');
            proteinsArray.push('@item.Proteins');
            fatsArray.push('@item.Fats');
            carbsArray.push('@item.Carbohydrates');
            gramArray.push('@item.Grammage');
        </script>
    }

    <input id="mealID" type="hidden">
    <input id="waterCount" type="hidden" value="@ViewData["water"]" />

    <div class="navbar-light box-shadow mb-3" id="navbarDzien">
        <div class="mx-auto">
            <div>
                <div id="dziennik">
                    <div style="background-color: transparent; display: inline-block">
                        <div class="data"><a asp-action="ChooseDay" asp-route-choice="1" asp-route-dayID="@ViewData["dayID"]"><img class="prev-next" src="~/img/prev.png" /></a></div>
                    </div>

                    <div style="display: inline-block;">
                        <div class="data">
                            @ViewData["date"]
                        </div>
                    </div>

                    <div style="background-color: transparent; display: inline-block;">
                        <div class="data"><a asp-action="ChooseDay" asp-route-choice="2" asp-route-dayID="@ViewData["dayID"]"><img class="prev-next" src="~/img/next.png" /></a></div>
                    </div>
                    <div>
                        <input id="dateBtn" type="text" hidden />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="false" style="margin-top: 100px; padding-left: 15px">
            <div class="modal-dialog" style="display: flex; justify-content: center;">
                <div class="modal-content">
                    <div class="modal-header" style="height: 20px">
                        <button type="button" class="close" data-dismiss="modal" style="margin-top: -30px">×</button>
                    </div>

                    <div class="modal-body">
                        <div style="margin-top: -10px;">
                            <label>Czy na pewno chcesz usunąć ten posiłek?</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form method="post">
                            <div style="display:flex; justify-content: center">
                                <button type="button" data-dismiss="modal" style="margin-right: 15px; border-radius:10%; background-color: #4d62d7; height: 32px; width: 100px; color: white">Anuluj</button>
                                <button type="button" id="delete" style="border-radius:10%; background-color: #ce1a22; height: 32px; width: 100px; color: white">Tak, usuń</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="editModal" data-keyboard="false" style="margin-top: 170px">
            <div class="modal-dialog" style="display: flex; justify-content: center">
                <div class="modal-content" style="width: 300px;">
                    <div class="modal-header" style="height: 25px">
                        <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal">×</button>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row no-gutters" style="height: 100px">
                                <div id="photoArea" class="col-6"></div>
                                <div class="col-6">
                                    <div class="container" style="margin-left: -50px; margin-top: -14px; width: 215px">
                                        <div id="name" class="row no-gutters cent"></div>
                                        <div id="kcalHeader" class="row no-gutters cent"></div>
                                        <div class="row no-gutters cent" style="width: 170px; font-size: 13px; margin-left: 7px">
                                            <div id="proteinsHeader"></div>
                                            <div id="fatsHeader"></div>
                                            <div id="carbsHeader"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters cent" style="margin-top: 10px;">
                                <input id="grammage" type="number" min="1" max="9999" style="width: 60px; margin-right: 3px; text-align:center;" /><div style="font-weight: 600; margin-top: 2px">g</div>
                                <button id="editMeal" style="margin-left: 5px; background:none; border:none"><img style="width:30px; height:30px" src="~/img/save.png" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div id="glowna" class="col-lg-8">
                @if ((bool)ViewData["breakfast"])
                {
                    <div class="panel">
                        <div onclick="hidePanel('breakfast')" class="panelWithoutBtn">
                            <div class="nazwapos">Śniadanie</div>
                            <div class="kcal">
                                @ViewData["breakfastKcal"]kcal
                            </div>
                        </div>

                        <div style="float:right; width: 60px" class="addButton">
                            <a class="buttonPanel" asp-controller="Product" asp-action="Search" asp-route-inWhich="1" asp-route-dayID="@ViewData["dayID"]">
                                <img class="img-fluid" src="~/img/add.png">
                            </a>
                        </div>
                        <div class="cb"></div>
                    </div>
                }

                <div id="breakfast" class="meal">
                    @foreach (var item in Model)
                    {
                        @if (item.InWhichMealOfTheDay == 1 && item.Day.Breakfast == true)
                        {

                            <div class="product">
                                <div class="productWithoutBtn" onclick="showEditModal(@item.MealId)">
                                    <div class="napro">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName), @Html.DisplayFor(modelItem => item.Grammage)g
                                    </div>
                                    <div class="params">
                                        Kalorie: @Html.DisplayFor(modelItem => item.Calories)kcal<br />
                                        Białko: @Html.DisplayFor(modelItem => item.Proteins)g
                                        Węgl.: @Html.DisplayFor(modelItem => item.Carbohydrates)g
                                        Tł.: @Html.DisplayFor(modelItem => item.Fats)g
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btnUsuEdy" type="button" onclick="deleteMeal(@item.MealId)"><img class="cancel" src="~/img/cancel.png"></button>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        }
                    }
                </div>

                @if ((bool)ViewData["lunch"])
                {
                    <div class="panel">
                        <div onclick="hidePanel('lunch')" class="panelWithoutBtn">
                            <div>
                                <div class="nazwapos">II śniadanie</div>
                            </div>
                            <div class="kcal">
                                @ViewData["lunchKcal"]kcal
                            </div>
                        </div>
                        <div style="float:right; width: 60px" class="addButton">
                            <a class="buttonPanel" asp-controller="Product" asp-action="Search" asp-route-inWhich="2" asp-route-dayID="@ViewData["dayID"]">
                                <img class="img-fluid" src="~/img/add.png">
                            </a>
                        </div>
                        <div class="cb"></div>
                    </div>
                }

                <div id="lunch" class="meal">
                    @foreach (var item in Model)
                    {
                        @if (item.Day.Lunch == true && item.InWhichMealOfTheDay == 2)
                        {

                            <div class="product">
                                <div class="productWithoutBtn" onclick="showEditModal(@item.MealId)">
                                    <div class="napro">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName), @Html.DisplayFor(modelItem => item.Grammage)g
                                    </div>
                                    <div class="params">
                                        Kalorie: @Html.DisplayFor(modelItem => item.Calories)kcal<br />
                                        Białko: @Html.DisplayFor(modelItem => item.Proteins)g
                                        Węgl.: @Html.DisplayFor(modelItem => item.Carbohydrates)g
                                        Tł.: @Html.DisplayFor(modelItem => item.Fats)g
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btnUsuEdy" type="button" onclick="deleteMeal(@item.MealId)"><img class="cancel" src="~/img/cancel.png"></button>
                                </div>
                                <div class="cb"></div>
                            </div>
                        }
                    }
                </div>


                @if ((bool)ViewData["dinner"])
                {
                    <div class="panel">
                        <div onclick="hidePanel('dinner')" class="panelWithoutBtn">
                            <div>
                                <div class="nazwapos">Obiad</div>
                            </div>
                            <div class="kcal">
                                @ViewData["dinnerKcal"]kcal
                            </div>
                        </div>
                        <div style="float:right; width: 60px" class="addButton">
                            <a class="buttonPanel" asp-controller="Product" asp-action="Search" asp-route-inWhich="3" asp-route-dayID="@ViewData["dayID"]">
                                <img class="img-fluid" src="~/img/add.png">
                            </a>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                }

                <div id="dinner" class="meal">
                    @foreach (var item in Model)
                    {
                        @if (item.Day.Dinner == true && item.InWhichMealOfTheDay == 3)
                        {
                            <div class="product">
                                <div class="productWithoutBtn" onclick="showEditModal(@item.MealId)">
                                    <div class="napro">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName), @Html.DisplayFor(modelItem => item.Grammage)g
                                    </div>
                                    <div class="params">
                                        Kalorie: @Html.DisplayFor(modelItem => item.Calories)kcal<br />
                                        Białko: @Html.DisplayFor(modelItem => item.Proteins)g
                                        Węgl.: @Html.DisplayFor(modelItem => item.Carbohydrates)g
                                        Tł.: @Html.DisplayFor(modelItem => item.Fats)g
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btnUsuEdy" type="button" onclick="deleteMeal(@item.MealId)"><img class="cancel" src="~/img/cancel.png"></button>
                                </div>
                                <div class="cb"></div>
                            </div>
                        }
                    }
                </div>


                @if ((bool)ViewData["dessert"])
                {
                    <div class="panel">
                        <div onclick="hidePanel('dessert')" class="panelWithoutBtn">
                            <div class="nazwapos">Deser</div>

                            <div class="kcal">
                                @ViewData["dessertKcal"]kcal
                            </div>
                        </div>
                        <div style="float:right; width: 60px" class="addButton">
                            <a class="buttonPanel" asp-controller="Product" asp-action="Search" asp-route-inWhich="4" asp-route-dayID="@ViewData["dayID"]">
                                <img class="img-fluid" src="~/img/add.png">
                            </a>
                        </div>
                        <div class="cb"></div>
                    </div>
                }

                <div id="dessert" class="meal">
                    @foreach (var item in Model)
                    {
                        @if (item.Day.Dessert == true && item.InWhichMealOfTheDay == 4)
                        {

                            <div class="product">
                                <div class="productWithoutBtn" onclick="showEditModal(@item.MealId)">
                                    <div class="napro">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName), @Html.DisplayFor(modelItem => item.Grammage)g
                                    </div>
                                    <div class="params">
                                        Kalorie: @Html.DisplayFor(modelItem => item.Calories)kcal<br />
                                        Białko: @Html.DisplayFor(modelItem => item.Proteins)g
                                        Węgl.: @Html.DisplayFor(modelItem => item.Carbohydrates)g
                                        Tł.: @Html.DisplayFor(modelItem => item.Fats)g
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btnUsuEdy" type="button" onclick="deleteMeal(@item.MealId)"><img class="cancel" src="~/img/cancel.png"></button>
                                </div>
                                <div class="cb"></div>
                            </div>
                        }
                    }
                </div>



                @if ((bool)ViewData["snack"])
                {
                    <div class="panel">
                        <div onclick="hidePanel('snack')" class="panelWithoutBtn">
                            <div class="nazwapos">Przekąska</div>

                            <div class="kcal">
                                @ViewData["snackKcal"]kcal
                            </div>
                        </div>
                        <div style="float:right; width: 60px" class="addButton">
                            <a class="buttonPanel" asp-controller="Product" asp-action="Search" asp-route-inWhich="5" asp-route-dayID="@ViewData["dayID"]">
                                <img class="img-fluid" src="~/img/add.png">
                            </a>
                        </div>
                        <div class="cb"></div>
                    </div>
                }

                <div id="snack" class="meal">
                    @foreach (var item in Model)
                    {
                        @if (item.Day.Snack == true && item.InWhichMealOfTheDay == 5)
                        {

                            <div class="product">
                                <div class="productWithoutBtn" onclick="showEditModal(@item.MealId)">
                                    <div class="napro">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName), @Html.DisplayFor(modelItem => item.Grammage)g
                                    </div>
                                    <div class="params">
                                        Kalorie: @Html.DisplayFor(modelItem => item.Calories)kcal<br />
                                        Białko: @Html.DisplayFor(modelItem => item.Proteins)g
                                        Węgl.: @Html.DisplayFor(modelItem => item.Carbohydrates)g
                                        Tł.: @Html.DisplayFor(modelItem => item.Fats)g
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btnUsuEdy" type="button" onclick="deleteMeal(@item.MealId)"><img class="cancel" src="~/img/cancel.png"></button>
                                </div>
                                <div class="cb"></div>
                            </div>
                        }
                    }
                </div>


                @if ((bool)ViewData["supper"])
                {
                    <div class="panel">
                        <div onclick="hidePanel('supper')" class="panelWithoutBtn">
                            <div class="nazwapos">Kolacja</div>

                            <div class="kcal">
                                @ViewData["supperKcal"]kcal
                            </div>
                        </div>
                        <div style="float:right; width: 60px" class="addButton">
                            <a class="buttonPanel" asp-controller="Product" asp-action="Search" asp-route-inWhich="6" asp-route-dayID="@ViewData["dayID"]">
                                <img class="img-fluid" src="~/img/add.png">
                            </a>
                        </div>
                        <div class="cb"></div>
                    </div>
                }

                <div id="supper" class="meal">
                    @foreach (var item in Model)
                    {
                        @if (item.Day.Supper == true && item.InWhichMealOfTheDay == 6)
                        {

                            <div class="product">
                                <div class="productWithoutBtn" onclick="showEditModal(@item.MealId)">
                                    <div class="napro">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName), @Html.DisplayFor(modelItem => item.Grammage)g
                                    </div>
                                    <div class="params">
                                        Kalorie: @Html.DisplayFor(modelItem => item.Calories)kcal<br />
                                        Białko: @Html.DisplayFor(modelItem => item.Proteins)g
                                        Węgl.: @Html.DisplayFor(modelItem => item.Carbohydrates)g
                                        Tł.: @Html.DisplayFor(modelItem => item.Fats)g
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btnUsuEdy" type="button" onclick="deleteMeal(@item.MealId)"><img class="cancel" src="~/img/cancel.png"></button>
                                </div>
                                <div class="cb"></div>
                            </div>
                        }

                    }
                </div>

            </div>


            <div id="boczny" class="col-lg-4 ml-lg-0 my-1 my-lg-0"> 
                <div id="admin" hidden>
                    <button id="adminBtn" class="btn btn-dark">PANEL ADMINISTRATORA</button>
                </div> 
                <div id="chartArea">
                    <h6 style="padding-top: 5px; font-weight:600">Proporcje energetyczne</h6>
                    <div id="piechart" style="padding-bottom: 10px"></div>
                </div>
                <div style="background: #f5f5f5">
                    <h6 id="waterHeader">Spożycie płynów</h6>
                    <input type="hidden" id="div_position" name="div_position" />
                    <img id="glass" class="my-3 my-sm-4 my-lg-5" src="~/img/glass.png">
                    <div id="showWater" class="container">
                        <div class="row" style="margin-bottom: 10px">
                            <div id="water">@ViewData["water"] ml</div>
                            <div id="divWyswietlWode">
                                <button class="button" onclick="editingWater()"><img style="height:15px; width:15px;" src="~/img/pen.png"></button>
                            </div>
                        </div>
                    </div>

                    <div id="waterEdit" hidden>
                        <div class="container">
                            <div class="row" style="margin-bottom: 10px">
                                <div id="editingWater">
                                    <input id="EditedWater" name="EditedWater" type="number" min="0" max="99999999" value="@ViewData["water"]" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 100000)" oninput="validity.valid || (value = '')"/>
                                </div>
                                <div class="divDodEdyWode">
                                    <button type="button" class="button" onclick="editWater('@Url.Action("Water", "Home")', @ViewData["dayID"], @ViewData["caloriesTarget"])">
                                        <img style="height:20px; width:20px;" src="~/img/save.png">
                                    </button>
                                </div>
                            </div>
                        </div>    
                    </div>

                    <div style="clear:both" id="target">Celuj dziś w wypicie przynajmniej @ViewData["caloriesTarget"] mililitrów wody.</div>
                        <div class="container">
                            <div style="padding-bottom: 30px" class="row">
                                <div id="addingWater">
                                    <input id="AddedWater" name="AddedWater" type="number" min="1" max="9999999" onkeypress="return onlyInt(event)" onchange="this.value = changeToMaxIfGreaterInt(this.value, 10000)" oninput="validity.valid || (value = '')"/>
                                </div>
                                <div id="ml">ml</div>
                                <div class="divDodEdyWode">
                                    <button id="dodajWode" type="button" class="btn" onclick="addWater('@Url.Action("Water", "Home")', @ViewData["dayID"], @ViewData["caloriesTarget"])" value="dodajWode">Dodaj</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>

        <div style="height: 90px;"></div>
    </div>

    <nav class="navbar navbar-light border-top box-shadow mb" style="position:fixed; width:100%; height: 90px; bottom: 0px; left:0px; background-color: whitesmoke">
        <div class="container" style="padding:0; width: 100%">
            <div class="row no-gutters" style="width: 100%">
                <div class="col-3">
                    <div style="padding-bottom: 3px">
                        <h1 class="naglowek">
                            Kcal: @ViewData["calories0"]<br />
                            /@ViewData["caloriesTarget"] kcal
                        </h1>
                    </div>
                    <div style="background-color: lightgray; width:100%" class="mb-2">
                        <div id="calories" style="height:12px; max-width:100%; width:@ViewData["%calories"]%; background-color: green"></div>
                    </div>
                </div>

                <div class="col-3">
                    <div style="padding-bottom: 3px">
                        <h1 class="naglowek">
                            Białko: @ViewData["proteins0"]<br />
                            /@ViewData["proteinsTarget"] g
                        </h1>
                    </div>
                    <div style="background-color: lightgray;" class="mb-2">
                        <div id="proteins" style="height:12px; max-width:100%; width:@ViewData["%proteins"]%; background-color: #3936dc"></div>
                    </div>
                </div>

                <div class="col-3">
                    <div style="padding-bottom: 3px">
                        <h1 class="naglowek">
                            Węgl.: @ViewData["carbs0"]<br />
                            /@ViewData["carbsTarget"] g
                        </h1>
                    </div>
                    <div style="background-color: lightgray;" class="mb-2">
                        <div id="carbs" style="height:12px; max-width:100%; width:@ViewData["%carbs"]%; background-color: #b017c2"></div>
                    </div>
                </div>

                <div class="col-3">
                    <div style="padding-bottom: 3px">
                        <h1 class="naglowek">
                            Tł.: @ViewData["fats0"]<br />
                            /@ViewData["fatsTarget"] g
                        </h1>
                    </div>
                    <div style="background-color: lightgray;" class="mb-2">
                        <div id="fats" style="height:12px; max-width:100%; width:@ViewData["%fats"]%; background-color: orange"></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script>
        var $j = jQuery.noConflict();
        changeDayDatepicker();
        $j("#dateBtn").datepicker("setDate", new Date('@ViewData["datepick"]'));

        $j("#dateBtn").change(function () {
            var date = $j("#dateBtn").datepicker("getDate").toISOString();
            window.location.href = '@Url.Action("ChangeDay", "Home")' + "?day=" + date;
        });

        if ('@ViewData["admin"]' == 1) {
            document.getElementById("admin").hidden = false;
        }

        $j("#adminBtn").click(function () { window.location.href = '@Url.Action("AdminHome", "Admin")'; });
    </script>
</body>

