<html>
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/AllViews.css" rel="stylesheet" />
    <link href="~/lib/chart.js/Chart.css" rel="stylesheet" />
    <script src="~/lib/chart.js/Chart.js"></script>
    <script src="~/js/ProgressMonitoring.js"></script>
    <link href="~/css/ProgressMonitoring.css" rel="stylesheet" />
    <link href="~/css/Datepicker.css" rel="stylesheet" />
    <script>
        function createWeightMeasurementsChart() {
            createChart(weight, date);
        }
    </script>
</head>
<body onload="createWeightMeasurementsChart()">
    @{ foreach (var item in (List<FitAppka.Models.WeightMeasurement>)ViewData["weightMeasurements"])
        {
            <script>
                weight.push('@item.Weight');
                date.push('@item.DateOfMeasurement.Value.ToString("dd.MM.yy")');
            </script>
        }
    }

    <div class="container-fluid ml-lg-3 pl-md-0 pl-lg-3">
        <div class="row no-gutters mt-5">
            <div class="col-12 col-md-9 col-lg-8">
                <canvas id="myChart" class="px-2"></canvas>
            </div>
            <div class="col-12 col-md-3 col-lg-4 container-fluid">
                <div class="row no-gutters pl-md-4 pl-lg-5">
                    <div class="col-12">
                        <div>Pokaż wykres: </div>
                        <select class="form-control" id="select">
                            <option value="1">Pomiarów wagi</option>
                            <option value="2">Spożytych kalorii</option>
                            <option value="3">Spalonych kalorii</option>
                        </select>
                    </div>
                </div>
                <div class="row no-gutters mt-5 pl-md-4 pl-lg-5">
                    <div class="col-12 col-lg-auto">
                        <div class="mr-lg-4 mb-5">
                            <div>Data od:</div>
                            <input id="datepickerFrom" class="datepicker" readonly />
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto">
                        <div>
                            <div>Data do:</div>
                            <input id="datepickerTo" class="datepicker" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/ShowNavbar.js"></script>
    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/js/Datepicker.js"></script>
    <script>
        function reloadPage(dateFrom, dateTo) {
            window.location.href = '@Url.Action("ProgressMonitoring", "ProgressMonitoring")'
                + "?dateFrom=" + dateFrom + "&dateTo=" + dateTo;
        }
    </script>
    <script>createDatePickers('@ViewData["dateFrom"]', '@ViewData["dateTo"]');</script>
</body>
</html>